[2017-09-28 12:02] AnupKumarPanwar opened #24 "Add more algorithms"
This repo has less contributions. Please add more algorithms.

See the structure and README of this repo for reference
https://github.com/TheAlgorithms/Python

[2017-09-28 16:39] goyaljai commented on #24
i would like to contribute. thanks

[2017-09-28 16:45] dynamitechetan commented on #24
@goyaljai  Sure. Thanks.

[2017-09-28 16:48] goyaljai commented on #24
which type of algortihms? and where and how to add?

[2017-09-28 17:19] joealam commented on #24
Is there any kind of contribution guide, or at least more information about the desired format of the contributions?

For example: should every algorithm be a single file? should they aim to be runnable without additional dependencies? etc.

[2017-09-28 18:16] shivamgor498 commented on #24
can we add cocktail sort algorithm??

[2017-09-28 18:45] AnupKumarPanwar commented on #24
@joealam A single file is preferred and keep modular approach. Divide you code into function instead of breaking into multiple files and use the general head files for basic algorithms.

[2017-09-28 19:32] naveenyadav15 opened #25 "Fibonacci numbers"
It is giving wrong answer.

[2017-09-28 22:15] Vehemos commented on #24
I would like to contribute to this. Thanks!

[2017-09-29 06:02] AnupKumarPanwar opened #27 "Travis CI"
Add a .travis.yml file to this repository.
Refer to this doc https://docs.travis-ci.com/user/languages/cpp/

[2017-09-29 07:33] #27 closed

[2017-09-29 14:43] sachinarora707 commented on #25
Hi @naveenyadav15 Can you be more specific with the issue?? It's working fine for me and giving a correct output. Fibonacci sequence is defined in 2 ways. One starts with 0 and 1. Other starts with 1 and 1.
Both these sequences are correct. If this resolves the issue, please check.

[2017-09-29 17:07] vishvanath45 commented on #24
I would like to contribute by adding Dijsktra Algorithm.

[2017-09-29 17:57] Balance-Breaker opened #29 "Suggestion:To reorder program files"
To add all the cpp program file either in their respective directories or make a misc folder and add them there to reduce chaos in main folder and make them organized like other repositories.

[2017-09-29 18:19] shubhammatta commented on #24
I would like to add - Disjoint_Set_Union , Range_Minimum_query(Using Sparse Table) , KMP(Knuth–Morris–Pratt) Algorithm , Lowest_Common_Ancestor.

[2017-09-30 13:50] naveenyadav15 commented on #25
Like, if your input is 50 it is giving wrong answer(negative)

[2017-09-30 17:20] sachinarora707 commented on #25
@naveenyadav15 i checked the code again. The problem is that the number at 48 is greater than the upper limit of a signed int, i.e., 2,147,483,647. So, the code breaks at the input greater than 47.

[2017-09-30 17:49] naveenyadav15 commented on #25
Okay, then we can correct it by using long long.

[2017-10-01 10:58] Balance-Breaker commented on #25
For larger number we can implement it with different data structure so that there would be no problem with size of data-type. @sachinarora707  if required I can work on that.

[2017-10-01 11:57] sachinarora707 commented on #25
@naveenyadav15 Using unsigned long long int would improve it. But, it would still not work for very big numbers. For higher inputs, the code will break again.

[2017-10-01 11:59] sachinarora707 commented on #25
@Balance-Breaker Sure, work on the issue.

[2017-10-01 17:29] sd1998 commented on #29
Issue Solved Pr #34

[2017-10-04 13:14] VibhorCodecianGupta commented on #24
I'd like to add some sweet functions to Linked Lists and other algorithms like Count Sort, segmented sieve and totient functions. It'd be great if you acknowledged!

[2017-10-12 11:40] arpanjain97 commented on #24
I'd like to add the following shortest distance algorithms :
1. Dijkstra
2. Bellman-Ford
3. Floyd-Warshall

[2017-10-15 08:18] nghiaxlee commented on #24
Hello, I'd like to add Comb Sort algorithm

[2017-10-28 09:31] rohitchugh9 commented on #24
I would like to add Dynamic Programming Algorithms.
1. Edit Distance
2. 0/1 Knapsack
3. Egg Dropping Puzzle
4. Subset Sum
5. All Valid Parentheses

[2017-12-23 17:37] christianbender commented on #29
@Balance-Breaker  I have changed the directory structure a little bit

[2017-12-23 22:00] #29 closed

[2017-12-23 22:10] christianbender commented on #25
I fixed the issue. I changed the datatype from **int** to **long long**.
This datatype can be overflow, too. But we increase the max limit.

[2017-12-23 22:10] #25 closed

[2017-12-25 05:09] kenshimota opened #72 "Participar"
Disculpa me gustira saber si puedo estudiar sus codigos en cpp y si puedo agregar mas archivos y editar los actuales ayudando a contribuir en un  mejor desarrollo de el trabajo de OpenSource

[2017-12-26 04:15] jfsanin opened #78 "Add complexity time to algorithms"
Hi, first of all, great job, I was wondering if you could add the time complexity to the algorithms, should be awesome.

[2018-03-09 20:06] christianbender commented on #72
@kenshimota  please in english!

[2018-03-09 20:06] #72 closed

[2018-03-16 21:39] christianbender opened #89 "Errors in Dijkstra.cpp"
The C function malloc() is unknow. Missing stdlib.h.
The problem if you run the code it raises **Segmentation fault**.

[2018-03-16 21:48] #89 closed

[2018-04-03 17:02] #78 closed

[2018-09-06 05:44] shadrak98 opened #100 "parameters in edit distance (dp)"
instead of (str1, str1, ....) on 83 & 84 it should be (str1, str2, ....) on both lines

[2018-09-25 21:17] mrdogan7 commented on #100
In [C-Plus-Plus/Sorting/Insertion Sort.cpp](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/Sorting/Insertion%20Sort.cpp) , n is declared but not defined or taken as an input.
To fix it,
   `cin>>n;`
should be added between line 8 and 9.

[2018-10-16 12:14] rsenwar commented on #24
#138 Have a look at this PR, I am looking to add more programs related to Mathematics.

[2018-11-13 16:05] mgautam98 opened #168 "Paranthesis Matching.cpp"
C-Plus-Plus/Others/ParanthesisMatching.cpp is not correct. It is not giving correct output for ( ] or [ }.

[2019-01-09 14:47] ashwek opened #175 "Bug in 'Linked List.cpp'"
https://github.com/TheAlgorithms/C-Plus-Plus/blob/dbf752821b8988b7368fc6e57a5aaee6c4ab1ed1/Datastructures/Linked%20List.cpp#L35-L46

**remove** function crashes the program when:
* linked list is empty
* the value to be deleted _(x)_ is not present in list

[2019-02-01 07:49] S1xe opened #179 "error use memset in BFS.cpp"
https://github.com/TheAlgorithms/C-Plus-Plus/blob/dbf752821b8988b7368fc6e57a5aaee6c4ab1ed1/Graph/BFS.cpp#L33

the `visited` is not a array,so there should use `sizeof(bool)*(this->v+1)`

[2019-02-09 07:28] #100 closed

[2019-02-09 10:38] #168 closed

[2019-02-09 10:41] #175 closed

[2019-02-17 12:29] ashwek commented on #179
Fixed :+1:

[2019-02-17 12:29] #179 closed

[2019-03-20 10:33] GOVINDDIXIT commented on #24
I want to add optimal BST in DP category

[2019-04-19 14:01] tapaswenipathak opened #185 "Implementation of algorithms as listed"
I might add these in few days, I will list the problem or algorithm name (mostly advanced) -

- Discrete Mathematics
  - [ ]
- Automata Theory
  - [ ]
- Statistics
  - [ ]
- Number Theory
  - [ ]
- Combinatorics
  - [ ]
- Graph theory
  - [ ]
- NP, NPC (Simulated Annealing, Brute Force, Genetic Algorithms)
  - [ ]
- NN
  - ANN
    - [ ]
  - BNN
     - [ ]
  - DNN
      - [ ]

- Algorithmic Trading

[2019-04-19 15:05] AmanRaj1608 opened #186 "Update README.md"
Adding all links of algorithm which are implemented on README page.

[2019-04-19 15:06] AmanRaj1608 commented on #186
I am working on this on PR   #184
Please assign me on this.

[2019-05-07 07:57] codemongkey opened #193 "no rb-tree?"

[2019-05-10 18:41] amanmehara opened #195 "Incorrect Strassen Matrix Multiplication Algorithm."
Currently it works only if **n** is 2.

[2019-05-11 07:55] amanmehara commented on #195
https://github.com/TheAlgorithms/C-Plus-Plus/blob/a3ddfcdcf3c76d6380dffad37e6e2b80470a013e/Others/Strassen%20Matrix%20Multiplication.cpp#L27

[2019-05-24 21:54] LamdaLamdaLamda opened #199 "License should be added."
License including **LICENCE.md** should be added [Choose a licence](https://choosealicense.com/).
 [TheAlgorithms/Python](https://github.com/TheAlgorithms/Python) selected the MIT variant.

[2019-06-07 23:59] ashneg opened #259 "New directory proposal (Competitive-Coding)"
I would like to propose an idea of adding a new directory for **Competitive-Coding** . This would help people who are new to programming implement those algo's .

I have been doing competitive coding from last 2 years on the platform's like **Codechef, Codeforces, Top-coder, Hackerearth** and would like to contribute my successfully submitted code to this repo.

**Please assign me this task**

[2019-06-13 06:34] dhruvsharma78 opened #261 "Convert data structures to templates"
It seems like the data structures have been designed to store data of just one type. Wouldn't it be better to implement them as templates?

That reduces the effort/time needed to reuse these structures for something else.

I'm ready to take on this task. So if you like this idea, assign this issue to me

[2019-06-13 06:53] rajat77460 commented on #261
I like the idea buddy !

On Thu, Jun 13, 2019, 12:04 PM Dhruv Sharma <notifications@github.com>
wrote:

[2019-06-17 17:22] metablaster commented on #199
+1 here, I just made a few hittest mathematical functions and would like to contribute but realized that every single source file in the repository doesn't have a Copyright comment, and the repo is missing a license.

Definitely MIT would be normal choice.

[2019-07-03 18:14] mmg0311 opened #268 "Threaded binary tree not present"
`#include<iostream>
using namespace std;

class node{
public:
	int data;
	int rbit,lbit;	// rbit = 1 when right child is normal and 0 if right child is thread
					// lbit = 1 when left child is normal and 0 if it is thread
	node *left,*right;
};

class tree{
public:
	node * insert(node *,int );		//to insert data
	node * getnode(int );			//for allocation of memory and initializing the node
	void i

[2019-07-04 17:43] yashbansal6 opened #269 "Move sleep sort.c in Sorting folder"
All the files should be in respective folders.

[2019-07-04 17:57] yashbansal6 commented on #269
PR #270 solves Issue #269

[2019-07-04 17:57] #269 closed

[2019-07-04 18:02] yashbansal6 opened #271 "Convert code from c to cpp"
Sleep Sort.c in /Sorting is a c file.
Convert this code to cpp.

[2019-07-06 18:45] hit-1170300532 opened #272 "Add Randomized-Quicksort.cpp"
Using randomize partition to avoid the basically ordered sequences in the quicksorts.
And I will update a fork and pull a new request about it.

[2019-07-06 18:57] hit-1170300532 commented on #272
U can see my PR in 'Add RandomizedQuicksort.cpp #273'

[2019-07-14 09:16] navdeepkk commented on #271
Hi! Just created a PR for this.
https://github.com/TheAlgorithms/C-Plus-Plus/pull/275

[2019-07-16 07:22] navdeepkk commented on #271
Please merge this with master.

[2019-08-11 18:59] msk4862 opened #283 "Add algorithm to find lcm (least common multiple)."
Algorithm for finding lcm(least common multiple) is not added.

[2019-09-27 15:46] tbhaxor opened #296 "Change file name casing"
Kindly change the file name casing to **lowercase** and replace ` ` with `-`

[2019-09-30 06:27] anudishjain commented on #24
Hi, I would like to add the following Dynamic Programming Algorithms,

- Trapping Rain Water (1D)
- Maximum Product Subarray
- Number of ways to decode a given number as a string (Decode Ways)

[2019-09-30 14:47] shivansh2598 commented on #24
Hi, I would like to add the following Algorithms,

1. Binomial Coefficient in the DP category.
2. Finding LCM using the Euclidean algorithm in the Math category.

[2019-09-30 22:34] Kushagra-0801 opened #306 "Add Combinatorics folder and algorithms"
Add a Combinatorics category and algorithms like permutations, combinations, powerset etc

[2019-09-30 22:35] Kushagra-0801 commented on #306
I would like to implement the combinations algorithm

[2019-10-01 10:55] sankalpchauhan-me commented on #24
Hi, I would like to add the following Algorithm to Range Queries:
-> Binary Indexed Tree/Fenwik Tree

[2019-10-01 11:02] tanaytoshniwal commented on #24
I would like to add Bit Masking / Bit Manipulation Algorithms
- Check ith bit
- Check Odd or Even
- Check Power of 2
- Clear all bits from MSB
- Convert Number to Binary
- Flip ith Bit
- Return First Set Bit
- Turn Off First Set Bit
- Turn Off ith bit
- Turn On ith bit

[2019-10-01 17:06] Pratap2018 commented on #24
I want to add a new searching algorithm.

[2019-10-02 06:00] RitvijSrivastava commented on #24
#### Added Iterative Implementation of Quick Sort #343

[2019-10-02 09:23] shubhamkakkar commented on #283
I am taking this issue

[2019-10-02 09:50] anshal570 commented on #283
I want to work on this issue.

[2019-10-02 11:16] jatinmodi001 opened #353 "Add comments and README file"

[2019-10-02 17:29] vishaldhull09 commented on #24
i want to add algorithm to detect loop in a linked list.

[2019-10-02 19:02] Anshuvats opened #361 "Added Linked_List_Insertion_sort.cpp"
Sorting a Linked List using Insertion Sort in C++.

[2019-10-02 19:07] Anshuvats opened #363 "Added Linked_List_Bubble_Sort.cpp"

[2019-10-02 19:22] Jawed-byte opened #365 "Added Linked_List_Quick_Sort in cpp"

[2019-10-02 19:28] tanvibattu commented on #363
Can i work on this issue??

[2019-10-02 19:32] Jawed-byte opened #367 "Added Euler Totient function in cpp"

[2019-10-02 19:42] Jawed-byte opened #369 "Added Fermat_Little_Theorem in cpp"

[2019-10-02 19:50] Jawed-byte opened #371 "Added Prims algorithm in cpp"

[2019-10-02 22:59] #296 closed

[2019-10-03 12:37] pinho commented on #24
I have implemented manually code for split a string.
I would like to add this algorithm here...

* Split a string through a separator char

[2019-10-05 04:03] namannimmo10 commented on #367
@Jawed-byte I wanna work on this! Please assign the issue to me.

[2019-10-05 04:05] namannimmo10 commented on #369
@Jawed-byte  Hey, I can implement this. :)

[2019-10-06 10:13] apoorvam25 opened #430 "Added Floyd's Cycle Detection Algorithm."

[2019-10-08 18:27] atjustbeinghumaid commented on #24
I would like to contribute by adding solution to Maximum Size Sub-Square problem through Dynamic Programming

[2019-10-08 19:09] atjustbeinghumaid opened #467 "I would like to contribute by adding solution to Maximum Size Sub-Square problem through Dynamic Programming"
#466 added

I would like to contribute by adding solution to Maximum Size Sub-Square problem through Dynamic Programming

_Originally posted by @atjustbeinghumaid in https://github.com/TheAlgorithms/C-Plus-Plus/issues/24#issuecomment-539642465_

[2019-10-08 19:10] atjustbeinghumaid commented on #467
[https://github.com/TheAlgorithms/C-Plus-Plus/pull/466#issue-325917503](url)

[2019-10-08 20:25] Tawishi opened #468 "Error in Circular queue operations"
This is regarding an error in the file having path   Operations on Datastructures/Circular Linked List.cpp
The Print option in the menu shows the last element entered as Not Found.
![result](https://user-images.githubusercontent.com/55306738/66430324-747d9980-ea37-11e9-8a43-5bdf396cd3ef.jpg)
I would like to resolve this issue.

[2019-10-09 02:38] ghostrider1234 commented on #24
I would like to add Counting Sort Algorithm

[2019-10-09 17:00] Xacrolyte opened #478 "Adding Graphic algorithms as well"
Graphic algorithm referring to graphics.h in cpp

[2019-10-09 18:25] Xacrolyte commented on #24
Added a Bresenham Line Algorithm under the Graphics section. Adding more
#478

[2019-10-10 21:08] sambey04 commented on #478
I can do Bresenham's Line algorithm

[2019-10-10 21:09] sambey04 opened #492 "Breath First Search in Graph"

[2019-10-13 10:15] Baranixowy commented on #468
I think that I fixed this.

[2019-10-13 10:38] Tawishi commented on #468
The error was there as is seen in the image.

[2019-10-13 11:02] Baranixowy commented on #468
Now it should working.

[2019-10-14 02:22] instinxt commented on #24
would like to add data structure programs for queue , linked list variations , if this issue is still open

[2019-10-15 13:55] Aakash1822 commented on #492
What's the issue in the BFS code @sambey04

[2019-10-15 13:57] Aakash1822 commented on #367
@namannimmo10 Nothing is described by him. I implemented this code. Go to repository and check it out.

[2019-10-15 15:22] Kunal614 commented on #283
I want to work on this issue.

[2019-10-15 15:46] Kunal614 commented on #283
i have done a pull request  for this
 https://github.com/TheAlgorithms/C-Plus-Plus/pull/526

[2019-10-15 15:53] Kunal614 commented on #353
done
https://github.com/TheAlgorithms/C-Plus-Plus/pull/526/commits/fca9993ee9e377cac781bd79662dc7e194bdb9ca

[2019-10-17 15:42] jatinmodi001 commented on #353
thanks

[2019-10-17 18:05] Kunal614 commented on #492
What should we do  , post the algorithm?

[2019-10-19 01:50] Kunal614 opened #548 "Added algorithm to find lcm (least common multiple)."

[2019-10-23 01:08] Kunal614 opened #570 "Added find factors of any number in Osqrt(n) time"
https://github.com/Kunal614/C-Plus-Plus/commit/05d8f9e29219aa0836cdff455d3926403828f7ac

[2019-10-23 03:54] bhaumikmistry opened #572 "Add format for PR and contribution guide?"
We should add a format for PR description to keep the PR in same format easy to read, and some more detailed contribution guide and Welcome bot for betterment and encouragement?

Please advice. @AnupKumarPanwar

Once you advice please assign it back to me.

-Thanks.

[2019-10-23 04:18] mitsuan commented on #572
Can I contribute to this project?

[2019-10-24 14:16] Kunal614 commented on #572
can i contribute?

[2019-10-24 14:31] Kunal614 commented on #572
Updated at readme https://github.com/Kunal614/C-Plus-Plus/commit/1dce03efd9fdd8f925ab77ad8f5a55cc518c390a

[2019-10-24 16:18] bhaumikmistry commented on #572
Please take a look at the README of [python](https://github.com/TheAlgorithms/Python) for better understanding of what we want.

[2019-10-25 05:43] walter-ind commented on #199
Should I take up this issue? @yanglbme

[2019-10-25 06:14] yanglbme commented on #199
yes @walter-ind

[2019-10-26 12:50] walter-ind commented on #199
I have added the license. Please review my PR.

On Fri, 25 Oct 2019, 11:45 Yang Libin, <notifications@github.com> wrote:

[2019-10-27 02:57] #199 closed

[2019-11-02 12:27] swkikb opened #624 "Can you do Korean annotation?"
Thank you for revealing software that is generally neat and has many features.
However, this data is not easily accessible to Korean users, so is it OK to add Korean annotations?

[2019-11-04 05:11] AnupKumarPanwar commented on #572
We can create an issue template and PR template rather than adding the complete format in contribution guidelines.

[2019-11-16 19:09] #572 closed

[2019-11-19 11:56] Baranixowy commented on #570
Check my update.

[2019-11-19 13:12] Kunal614 commented on #570
What you updated?

[2019-11-19 13:27] Baranixowy commented on #570
change prime factor finder and add all divider function

[2019-11-21 16:35] Kunal614 commented on #570
Ok that's good.
If you have different algorithm then add it.

[2019-11-29 11:09] Arctic2333 commented on #624
저는 프로그래머로서 영어를 잘 배워야 할 것 같아요.

[2019-11-29 23:34] achance6 opened #669 "Implementing different hash collision resolution strategies"
Would there be interest in implementing more hashtables? Currently there is only a hashtable implemented using separate chaining. I would be interested in implementing other resolution styles.
<h3>(Some) Unimplemented Collision Resolution Forms</h3>
<ul>
<li> [ ] Linear Probing</li>
<li> [ ] Quadratic Probing</li>
<li> [ ] Double Hashing</li>

[2019-12-21 08:17] #669 closed

[2020-01-31 13:34] UltraWelfare commented on #371
I see that this is still not done, so I'll try to do it.

[2020-02-02 16:15] sagnik-chatterjee commented on #361
taking up this issue ...

[2020-02-02 16:17] sagnik-chatterjee commented on #361
Is the linked list only single linked list ?

[2020-03-10 12:16] flying-kiter commented on #624
If you really wanna learn programming well, I suggest you improve English skill for further development.

[2020-04-02 06:05] tjgurwara99 commented on #548
Since the GCD algorithm for integers is already there, is there really a need for LCM?
For example:
For any a,b integers, let g = gcd(a,b) and l = lcm(a,b) then it is easy to prove that g x l = a x b

[2020-04-02 06:14] tjgurwara99 commented on #369
I did this a few years ago, might be worth checking that out from [this link](https://github.com/tjgurwara99/PrimeNumberLibrary/blob/master/libs/prime/prime.cpp)

[2020-04-06 11:09] sarimurrab opened #717 "ADD sort(arr,arr+n,comaprator) inbuilt c++ function"
## Detailed Description
Add a program of sorting using inbuilt c++ sort function

## Context

1. More will get to know about the comparator function.
2. How comparator function sort in lexical order and how to improve it.

## Possible Implementation
[code]
`    sort(arr, arr + n, compare);`

[2020-04-07 05:22] sarimurrab commented on #717
How can I become a member of this organization.?

[2020-04-07 05:27] cclauss commented on #717
Ask on https://gitter.im/TheAlgorithms

[2020-04-15 13:58] lucifer1730 opened #719 "[FEATURE]"
## Detailed Description

## Context

## Possible Implementation

[2020-04-23 00:20] #719 closed

[2020-04-25 08:09] Albirair opened #728 "Add bottom-up non-recursive merge sort"
I have an implementation of bottom-up merge sort that I'd like to share with you. It has exactly the same space and time complexity of the regular algorithm, except it doesn't overwhelm the stack with recursion.
Furthermore, my code uses templates for generic sorting of any data structure and, it is well-documented and uses Doxygen in case a person would like to auto-generate documentation.

[2020-04-25 08:14] cclauss commented on #728
Sounds awesome!  No need to open an issue...  You can just directly create a pull request.

Should we use Doxygen more broadly across the repo?  Maybe make a [GitHub Action](../master/blob/.github/workflows) that autogenerates docs on pull requests?

[2020-04-25 08:27] cclauss opened #729 "[FEATURE] How should we standardize testing of our algorithms?"
As discussed at https://github.com/TheAlgorithms/C-Plus-Plus/pull/721#issuecomment-615468515, should we require (or at least encourage) tests with new submission to this repo?  Other TheAlgorithms repos require tests.  For example, the [Python repo runs >520 tests on every pull request](https://travis-ci.com/github/TheAlgorithms/Python/builds/161766704#L790).  DOing this would give reviewer confid

[2020-04-25 08:28] Albirair commented on #728
That's great, I will a pull request.
Regarding Doxygen, it would be amazing to use it across the repo either for generation of documentation or facilitating programming since IDE can recognize it and display its information as needed. Although, I don't feel excited about making such documentation be generated on GitHub, due to increasing repo size and the fact it can be generated locally.

[2020-04-25 08:32] cclauss commented on #728
Let's try to automate Doxygen for just one algorithm to see how it works and determine its efficacy.

[2020-04-26 09:14] #728 closed

[2020-05-07 07:18] #624 closed

[2020-05-07 07:30] cclauss commented on #624
@swkikb You could ___fork___ this repo to create a separate copy that has Korean annotations.

[2020-05-07 16:11] karpit14 commented on #283
I want to pull request this as i am interested to work on this.

[2020-05-13 17:44] deadshotsb opened #751 "[FEATURE] Addition of statistical and probability distribution functions"
Addition of statistical and probability distribution functions

## Detailed Description

I saw the Probability file in the repository and only basic operations (addition rule) to calculate probability was given. Addition to this function, we can add statistical distribution functions like Gaussian Normalization, Binomial Distribution, etc classes and provide some addition functions to incorporate

[2020-05-16 12:14] sagnik-chatterjee commented on #751
Although the normal distribution is present under random library as std::normal_distribution , should i just add an implementation from the ground up or implement that directly?

[2020-05-16 12:35] deadshotsb commented on #751
In case of std::normal_distribution, it is effective in calculating the standard deviation and mean of the distribution. But if we can extend the present scenario to calculate the std deviation and mean of not one but N of those distributions in an optimised way. I checked in the probability file of this repository but there is no reference of distribution functions, so this has to be done from gr

[2020-05-16 19:10] cclauss commented on #751
Also feel free to create new versions of functions that are already in the standard library if you thing your reimplementation can educate others.

[2020-05-17 09:15] htr751 opened #753 "Suggestion - use modern c++"
Maybe try rewrite the code in more modern c++ (or make another repository for this).
I didn't look through all the files but it seems that you are using c++98 and its very old c++ standart (try using at least c++11)

[2020-05-17 18:56] Subhodeep2000 commented on #492
What should we do, post the code

[2020-05-17 20:44] cclauss commented on #753
Would these changes make the code run faster or reduce the size of the executables?

[2020-05-17 22:26] ayaankhan98 opened #755 "Algorithm for finding Connected Components in graph is not present"
i would like to work on this.

[2020-05-17 22:27] ayaankhan98 opened #756 "Algorithm for finding strongly connected components is not present"
i would like to work on this.

[2020-05-17 22:46] ayaankhan98 opened #757 "[FEATURE] Bellaman-Ford Algorithm not present"
## Detailed Description
Bellaman Ford algorithm for finding shortest path in graphs contaning negative weight edges is not present.

i wish to work on this

[2020-05-18 02:49] shashank-vats opened #758 "Postfix and prefix calculators are not present"
Algorithms to calculate postfix and prefix expression are not present. I wish to work on this.

[2020-05-18 05:14] #492 closed

[2020-05-18 05:22] cclauss commented on #758
Please do not wait form permission.  Just go ahead and submit pull requests for review.

[2020-05-18 05:23] cclauss commented on #755
Please do not wait for permission. Just go ahead and submit pull requests for review.

[2020-05-18 05:24] cclauss commented on #756
Please do not wait for permission. Just go ahead and submit pull requests for review.

[2020-05-18 05:36] cclauss commented on #757
Please do not wait for permission. Just submit pull requests for review. Thanks.

[2020-05-18 06:45] htr751 commented on #753
Some of them actually will make it faster. For example, if you made linked list as a class (and not as global methods) than as part of adding constructors you could add move consturctor which in case you want to transfer ownership of the list to some other list is much faster than copying it. I know its not part of the data stracture implementation but the all point in making it in multiple langua

[2020-05-18 07:01] cclauss commented on #753
My recommendation is that we take an algorithm-by-algorithm approach to such a conversion where each pull request modifies only one algorithm and demonstrates that the algorithm is faster, easier to understand, or generates less code than the current version.  Side-by-side benchmarks are much appreciated to demonstrate the efficacy of the new approach.

[2020-05-18 08:18] abhaysachan619 commented on #548
a*b=LCM(a,b)*GCD(a,b)
Then LCM(a,b)=(a*b)/GCD(a,b)

[2020-05-18 08:30] abhaysachan619 commented on #548
a*b=LCM(a,b)*GCD(a,b)
LCM(a,b)=(a*b)/GCD(a,b)

[2020-05-18 08:32] cclauss commented on #548
Lots of talk but no pull requests:
https://github.com/TheAlgorithms/C-Plus-Plus/search?q=lcm&type=Issues

[2020-05-18 09:44] ayaankhan98 commented on #755
okay sure

[2020-05-18 09:44] ayaankhan98 commented on #756
okay sure

[2020-05-18 09:44] ayaankhan98 commented on #757
okay sure

[2020-05-18 09:52] cclauss commented on #757
Actually... https://github.com/TheAlgorithms/C-Plus-Plus/search?q=ford

[2020-05-18 09:52] #757 closed

[2020-05-18 09:54] ayaankhan98 commented on #757
oh okay it's there in Dynamic programming directory

[2020-05-18 10:35] zivzhen opened #760 "sqrt has problem with number lower than 1"
sqrt has problem with number lower than 1

[2020-05-18 11:02] cclauss commented on #760
Which one?  https://github.com/TheAlgorithms/C-Plus-Plus/search?q=sqrt. Please provide some test cases than fail.

[2020-05-18 12:22] ayaankhan98 commented on #760
i think he is talking about `math/sqrt_double.cpp`
i tested this for input of `0.2` and `0.5`, it seems that the program goes into infinite loop

[2020-05-18 12:27] cclauss commented on #760
@DarkWarrior703 Your feedback on this please?

[2020-05-18 12:38] ayaankhan98 commented on #753
with the new versions of C++ i observed one thing, earlier i was using C++14 to write codes for codeforces and Codechef problems and on submissions those codes are takiing memory of about 15M but when i compiled those same codes using -std=c++17 flag the memory consumed is decreased to 5M,
i think it will be a good idea to use the C++17 standard

[2020-05-18 21:59] tjgurwara99 commented on #548
@cclauss I created one, couldn't pass the automated lint test that each pull request goes through so I deleted pull request even though I passed the exact same test on my machine. Any suggestions what I may have been missing?

[2020-05-18 23:22] floan opened #762 "Proper Testing Suite?"
Can I create a proper GTEST Suite that can be edited to add tests for each new file/function instead of each file having its own main and its own tests? This way each file will only have the function. Tests will be added to the GTEST file (very simple) and testing can be done that way?

[2020-05-19 04:18] cclauss commented on #762
Please pick one or two existing algorithms and create a test harness for those so we can see how it works.  Thanks!

[2020-05-19 04:30] cclauss commented on #548
Yes.  My suggestion is to not give up so easily.  Leave PRs open and ask for help in understanding why the are failing and how to fix the failing code.  Closing the pull request gets you no closed to landing your algorithm.

[2020-05-19 06:51] deadshotsb opened #764 "Union-Find algorithm for finding components of a Graph"
A DFS approach has been added for finding the number of components of a graph, but an approach using Union-Find algorithm is more than welcomed.

An Union-Find Approach using rank or path-compression can be a better solution

[2020-05-19 06:52] deadshotsb commented on #755
good work @ayaankhan98

[2020-05-19 06:52] #755 closed

[2020-05-19 09:11] f0lg0 opened #765 "[BUG]SegFault in remove(x) DLL"
## Description

the remove() function throws a segmentation fault.

## Expected Behavior

The function should remove the parsed element.

## Actual Behavior

The function fails at "t->prev->next = t->next;" and throws a seg fault

## Possible Fix

Still working on it, just wanted to report it... I don't know C++ well.

## Steps to Reproduce

1. insert some values
2. print if you want
3. delete som

[2020-05-19 09:57] cclauss commented on #755
Which pull request closed this issue?

[2020-05-19 09:58] cclauss commented on #764
We want a benchmark that ___proves___ that it is a better solution.

[2020-05-19 10:08] deadshotsb commented on #755
@cclauss pull request #761 is used to resolve this issue

[2020-05-19 10:24] ayaankhan98 commented on #764
i want to work on this.

[2020-05-19 10:30] ayaankhan98 opened #766 "[FEATURE] Negative weight cycle detection"
## Detailed Description
it looks like we don't have any algorithm to detect the negative weight cycle in graphs

## Possible Implementation
we can implemnt this using Bellaman-Ford algorithm.
Bellaman-Ford Algorithm gives the shortest path from a given source node to all other nodes in |V|-1 iterations (where V is the number of vertex or nodes in graph), if we perform one more iteration of Bellama

[2020-05-19 10:51] cclauss commented on #766
https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/dynamic_programming/Bellman-Ford.cpp

[2020-05-19 11:06] #766 closed

[2020-05-19 11:29] ayaankhan98 commented on #765
@f0lg0 could you please provide the file link ?

[2020-05-19 11:30] f0lg0 commented on #765
@ayaankhan98
 https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/data_structure/Doubly%20Linked%20List.cpp

[2020-05-19 12:55] ayaankhan98 commented on #756
it seems that we already have kosaraju implementation for the same problem

https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/graph/kosaraju.cpp

therefore closing this issue

[2020-05-19 12:55] #756 closed

[2020-05-20 14:21] coderanant commented on #758
@cclauss  It would be really good if issues can instead be assigned.
It's difficult to know if somebody is working on an issue this way.

[2020-05-20 16:19] coderanant commented on #764
I was just wondering how "Union-Find Approach using rank or path-compression" could be a better approach in finding the number of connected components. It'll take O(n log n) while the dfs approach works in O(n).
Union-Find Structure (DSU) is rather generally used for the case where we are given several elements, each of which is a separate set. A DSU will have an operation to combine any two sets,

[2020-05-20 18:01] cclauss commented on #764
Why write all this ___theoretical___ text??  Write up both algorithms and a benchmark instead.

[2020-05-20 23:03] PbChauhan commented on #361
@Anshuvats I want to take this issue and will upload PR sortly.

[2020-05-20 23:33] muhammad8584 commented on #717
Incredible

[2020-05-21 01:07] PbChauhan commented on #363
@Anshuvats I would like to implement this.

[2020-05-21 01:09] PbChauhan commented on #430
@apoorvam25 I take this.

[2020-05-21 08:13] EkanshBhatnagar commented on #760
How can I fix this issue? I want to be a contriubutor.

[2020-05-21 11:49] SamratDe commented on #765
I would like to work on this issue.

[2020-05-21 12:16] ayaankhan98 commented on #765
@SamratDe go ahead

[2020-05-21 15:27] cclauss commented on #760
Closed in #768

[2020-05-21 15:27] #760 closed

[2020-05-21 18:13] coderanant commented on #764
I have added Pull Request #773 regarding this issue.

[2020-05-21 18:23] deadshotsb commented on #764
@coderanant  DFS will take O(E) and O(E) = [O(V), O(V2)].

[2020-05-21 19:31] coderanant commented on #764
@deadshotsb Sorry for not making it clear.
DFS will take O(E) = [O(V), O(V<sup>2</sup>)]
DSU will take O(E) = [O(V log(V)), O(V<sup>2</sup> log(V))]
I have however added approach with both Union by size of tree and Path Compression which might work very closer to DFS approach in most cases.

[2020-05-21 20:35] cclauss commented on #764
Where is the benchmark?

[2020-05-21 20:43] cclauss commented on #363
Just do it.  Pull requests will be reviewed.

[2020-05-21 20:43] cclauss commented on #430
Just do it, pull requests will be reviewed.

[2020-05-22 03:30] offamitkumar opened #775 "Rabin Karp Algorithm for String Matching"
In the C++ string section, the implementation of Rabin Karp algorithm is missing.

I would like to work on it.

[2020-05-22 04:01] offamitkumar opened #776 "[FEATURE] Regular Expression & Wild Card Matching Algorithms , Dynamic Programming"
I want to add the Regular Expression & Wild Card matching algorithm, in the C++ Dynamic Programming section.

[2020-05-22 07:05] cclauss commented on #775
Please review #279 and let us know if we should merge that.

[2020-05-22 07:18] offamitkumar commented on #775
Yes we can, after some modification and cleaning the code a little bit.

[2020-05-22 07:43] offamitkumar commented on #775
should I create a pull request then?

[2020-05-22 07:51] offamitkumar opened #777 "[Suggestion] Better Implementation for BST"
There could be a better Implementation for BST, which will give more abstraction. Possible implementation, by using an Object Oriented approach instead of a functional programming approach.

[2020-05-22 07:54] cclauss commented on #775
Yes please.

[2020-05-22 07:58] cclauss commented on #777
Cool.  Let’s keep both the functional and the oop implementation in the repo.  It would be good to be able to study them side-by-side and run relative performance benchmarks on them.

[2020-05-22 09:49] coderanant commented on #764
How am I supposed to write a benchmark?
Please pardon if this is very intuitive as I am kinda new to Open Source.

[2020-05-22 10:14] #765 closed

[2020-05-22 10:33] #775 closed

[2020-05-22 10:45] offamitkumar opened #780 "[Improvement] A better Approach for N-Queen Solution"
in the Backtracking section, there are two solutions for a well-known problem N-Queen. Commit shows that they are improved, but they can be improved further by std:: bitset.

Idea is to store the occupied grid location (for both diagonal and column) into bitset then instead of iterating both diagonals and columns to check whether any location with the same diagonal or column is occupied in the pas

[2020-05-22 16:53] naresh2002 commented on #365
Assign it to me

[2020-05-22 17:08] cclauss commented on #365
There is no assigning.  Whoever wants to can submit a pull request and it will be reviewed.

[2020-05-23 07:33] offamitkumar opened #782 "[BUG] MorrisInorder file doesn't pass the cpplint tests"
cpplint check on 'MorrisInorder.cpp' reports 107 errors.

[2020-05-23 09:15] deadshotsb commented on #780
@offamitkumar You can go ahead.

[2020-05-23 09:19] deadshotsb commented on #764
@coderanant The best method to write a benchmark according to test the algorithms based on some randomly generated Graphs and showing  a relation between time and the size of graph for the algorithms under consideration.

[2020-05-23 10:52] cclauss commented on #782
Tons of our files fail `cpplint --recursive .` as can be seen from studying our GitHub Action output.  We force modified files to pass the test but that does not fix files that were already in the repo.

The approach of _gradual compliance_ is often used when adding new tests to an existing codebase and we us it here.  If you study our two cpplint GitHub actions, this will become clear.  If you wa

[2020-05-23 10:52] #782 closed

[2020-05-23 10:55] cclauss commented on #782
Tons of our files fail `cpplint --recursive .` as can be seen from studying our GitHub Action output.  We force modified files to pass the test but that does not fix files that were already in the repo.

The approach of _gradual compliance_ is often used when adding new tests to an existing codebase and we us it here.  If you study our two cpplint GitHub actions, this will become clear.  If you wa

[2020-05-23 11:00] cclauss commented on #780
Can we keep both versions in this repo so that the two versions can be benchmarked?

[2020-05-23 11:04] deadshotsb commented on #780
Yes sure

[2020-05-23 11:53] offamitkumar opened #783 "[FEATURE] bridge finding algorithm with Trajan Algorithm"
In graph section, the bridge finding algorithm with Trajan algorithm is not present.
I would like to implement it.

[2020-05-23 12:40] offamitkumar commented on #780
@cclauss  created pull request, but due to previous pull request it's showing some error. Would you please help me.

[2020-05-23 21:56] AloisBrun opened #786 "[FEATURE] Voronoï/Delaunay graph generation"
There is no implementation of the Delaunay/Voronoï graph in the "graph/" folder.
I can provide an implementation.

[2020-05-23 21:59] ayaankhan98 commented on #786
go ahead @AloisBrun

[2020-05-23 22:00] ayaankhan98 commented on #783
go ahead @offamitkumar

[2020-05-24 06:26] offamitkumar commented on #783
created pull request

[2020-05-24 06:33] cclauss commented on #783
@offamitkumar The correct way to do this is to link the PR to the issue by putting `Fixes #783` into the commit message of the pull request.  That will add cross links in both the issue and the pull request and will cause GitHub autoclose the issue when the pull request is merged.

[2020-05-24 06:38] offamitkumar commented on #783
Sorry, I don't have much experience with Github. I will change it.

[2020-05-24 06:45] offamitkumar commented on #753
I would like to work on it. Please assign this to me.

[2020-05-24 06:51] cclauss commented on #753
Please read CONTRIBUTION.md.  This repo does not assign tasks to people.  Instead it accepts pull requests.

[2020-05-24 07:00] cclauss commented on #783
There are two n_queens at https://github.com/TheAlgorithms/C-Plus-Plus/tree/master/backtracking

[2020-05-24 08:13] offamitkumar commented on #783
please review #780

[2020-05-24 08:51] cclauss commented on #780
Is this `bits/stdc++.h` or something different?

[2020-05-24 11:34] offamitkumar opened #790 "[FEATURE] maximum flow algorithm"
in the graph section,  maximum flow algorithm implementation with Ford Fulkerson & Edmond Karp method are not present.

[2020-05-24 11:53] offamitkumar commented on #753
still my pull request for #789  is not accepted. How I'm Supposed to contribute further, As per rule one cpp change per commit.

[2020-05-24 11:57] offamitkumar commented on #780
by using std::bitset , it's different from bits/stdc++.h

[2020-05-24 12:09] #783 closed

[2020-05-24 12:14] ayaankhan98 commented on #790
go ahead and implement, we will be looking for your PR and don't forget to mention this issue #790 in PR

[2020-05-24 12:17] ayaankhan98 commented on #764
what is the current status of this issue, as far as i know i had merged the PR related to this issue, what the status of benchmark @coderanant ?

[2020-05-24 18:34] EkanshMangal commented on #371
Can anyone tell me in which folder we have to add this algorithm if issue is still open?

[2020-05-25 04:14] cclauss commented on #371
https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/graph/prim.cpp

[2020-05-25 04:14] #371 closed

[2020-05-25 15:10] offamitkumar commented on #790
@ayaankhan98 my pull request is still not merged, would you please merge it.

[2020-05-25 15:17] #790 closed

[2020-05-27 09:47] iadacm opened #799 "to avoid array overflow, use "size -1"？"
https://github.com/TheAlgorithms/C-Plus-Plus/blob/30eb4bcc7cea6f91c07d1af863fddb1c1521190b/sorting/Quick%20Sort.cpp#L63

[2020-05-27 09:56] ayaankhan98 commented on #799
@iadacm thanks for reporting the bug

[2020-05-27 10:15] ayaankhan98 commented on #799
seems to be resolved now

[2020-05-27 12:14] #799 closed

[2020-05-28 01:16] #261 closed

[2020-05-29 01:22] kvedala opened #804 "[BUG] Incorrect results"
##Summary
### File: `search/median_search.cpp`
When in the vector, the example case from [here](https://brilliant.org/wiki/median-finding-algorithm/) is used, the expected results from their given worked out solution does not match the value returned by the program.

### File: `others/smallest_circle.cpp`
The program provides test implementations but the results from there are not **tested** with

[2020-05-29 11:38] testitem commented on #764
Let's say you are given Q queries. Each query is to add an edge into a graph. After each query you are to return the amount of connected components in this graph.

DFS is O(NQ), while DSU is (Q a(N)).

[2020-05-29 11:48] kvedala commented on #764
Since this repository is presenting multiple algorithms from an educational perspective, older inefficient algorithm implementations would also be welcome along with faster and more efficient implementations.

[2020-05-29 11:51] testitem commented on #764
In that case I am confused as for why cclauss is obsessed with speed benchmarks.

[2020-05-29 11:53] cclauss commented on #764
We want to be able to see the ___theoretical___ performance __DFS is O(NQ), while DSU is (Q a(N))__ as well as the ___actual___ performance 32 sec. vs. 97 sec.

[2020-05-29 11:58] coderanant commented on #764
Thanks for the clarification.
I didn't consider this use-case.

[2020-05-29 12:02] Chillee commented on #764
If the "point" of this repo is to present algorithms from an "educational" perspective, what use are benchmarks?

On a similar note, if the goal is to present algorithms from an "educational" perspective, the repo should do a better job of documenting/explaining each algorithm.

[2020-05-29 12:30] kvedala commented on #764
Documentation is being updated. A major re-work in these regards can be found here https://kvedala.github.io/C-Plus-Plus. However, for this documentation to automatically stay up-to-date with latest commits, the code submitted must be properly structured and documented.

[2020-05-29 12:49] kvedala commented on #764
Also, any help towards this herculean effort would be greatly appreciated 😅

[2020-05-30 10:53] cclauss opened #808 "Should this repo lint C++ code with clang-tidy or cpplint?"
https://devblogs.microsoft.com/cppblog/intellisense-code-linter-for-cpp
https://devblogs.microsoft.com/cppblog/code-analysis-with-clang-tidy-in-visual-studio
https://github.com/llvm-mirror/clang-tools-extra/tree/master/clang-tidy

v.s.

https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/.github/workflows/cpplint.yml
https://github.com/cpplint/cpplint

[2020-05-30 13:17] kvedala commented on #808
`clang-tidy` would be the ideal way to perform static code analysis for this repo as it can be automated fairly easily. I second that. Regarding its implementation:
* a lot of the existing code already fails to either compile or follow the style protocol
* I suggest this change be made once the current errors in the repo are fixed (#805) which addresses this exact problem
* [`.github/workflows/awe

[2020-06-01 06:47] TongHuaStory opened #810 "n_queen_optimised duplicated answer"
when define n to odd num, for example, 5.
The answer will get 2 more duplicated answer than normal algorithm.

Problem is in Line12

<sub>Sent from <a href="https://apps.apple.com/cn/app/id1314212521">PPHub</a></sub>

[2020-06-01 12:22] arpanmukherjee opened #811 "[BUG] Duplicate Algorithms"
[Binary Indexed Tree](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/range_queries/bit.cpp) and [Fenwick Tree](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/range_queries/FenwickTree.cpp) is essentially same Data Structure.  Remove any one of them please.

[2020-06-02 04:53] mishraabhinn commented on #811
Yes both are same.
Have a look @cclauss.

[2020-06-02 09:29] #810 closed

[2020-06-03 11:29] Anshuvats commented on #361
@PbChauhan Yeah, Go ahead.

[2020-06-03 11:36] Anshuvats commented on #363
@PbChauhan If you can implement this, Just do it. PR will be reviewed. Please carefully, Implement this. communities member will check everything.

[2020-06-04 08:43] keysangyonthan opened #823 "Kruskal's Code is giving wrong output! [FEATURE]"
## Detailed Description

## Context

## Possible Implementation

[2020-06-04 09:23] #823 closed

[2020-06-05 13:46] beqakd opened #827 "Gnome sort"
## Detailed Description
I can see that you dont have implementation of gnome sort algorithm on c++. So i want to contribute it.
## Context
Its one of used sorting algorithm.

## Possible Implementation

with loop as pure gnome sort implementation works.

[2020-06-05 13:58] mishraabhinn commented on #827
Go Ahead.
Will help if needed.

[2020-06-05 14:25] beqakd commented on #827
Check fails from this RP is not from my code. I think this code does not has problem with master.

[2020-06-05 14:31] beqakd opened #829 "Pythagoras implementation math class."
## Detailed Description
I want to implement some math class function as it was so few in folder. I can start by pythagoras function.

## Context
Its one of the most important feature in math so i think its important.

[2020-06-07 23:16] PaulinaQuintero commented on #829
Hello! Can I work on pythagoras function? Or is already taken by someone?

[2020-06-08 06:12] beqakd commented on #829
Taken by me. will upload it today.

[2020-06-08 18:29] PaulinaQuintero commented on #829
Then I can upload a 3d functionality on pythagoras class

[2020-06-08 18:50] Panquesito7 opened #836 "Change the contributing guidelines name"
Currently, the name of the file is `CONTRIBUTION.md`.
GitHub does not detect it as contributing guidelines.

However, if we change the name to `CONTRIBUTING.md`, it will work perfectly.
It also suggests users to read contributing guidelines **before** opening a PR or issue.

[2020-06-08 18:53] kvedala commented on #836
Thank you for the suggestion. Will add it to the PR - #805
The file is linked in many places and will need to be reviewed.

[2020-06-08 21:00] PaulinaQuintero commented on #829
I can upload the calculation of the complex's module number to complement that folder

[2020-06-08 22:20] PaulinaQuintero commented on #829
I did it
#837
Could you check it?

[2020-06-09 14:18] kvedala commented on #836
Done

[2020-06-09 22:24] ayaankhan98 commented on #836
this issue seems to be fixed, i am closing this

[2020-06-09 22:24] #836 closed

[2020-06-10 02:52] mursalfk commented on #811
Removing on would be better

[2020-06-10 02:53] mursalfk commented on #804
Still giving erroneous result

[2020-06-10 02:55] mursalfk commented on #758
Okay... thanks @cclauss

[2020-06-10 18:12] farishaskovic opened #839 "[FEATURE] Adding Left-Truncatable Prime"
## Detailed Description
I would like to add an algorithm for checking if the number is left-truncable prime. A Left-truncatable prime is a prime which in a given base (say 10) does not contain 0 and which remains prime when the leading (“left”) digit is successively removed. For example, 317 is left-truncatable prime since 317, 17 and 7 are all prime. There are total 4260 left-truncatable primes.

[2020-06-11 09:55] darklordz-217 opened #842 "[FEATURE]"
## Detailed Description

## Context

## Possible Implementation

[2020-06-11 16:09] ayaankhan98 commented on #842
@darklordz-217 can you please elaborate what do you want to do?

[2020-06-11 16:14] #842 closed

[2020-06-12 22:15] Kia-G commented on #804
Hello, I can work on this.
I noticed that the algorithm in your link (median-by-medians) is not implemented the same way in search_median.cpp (median/pivot is randomly generated, for example). Can I rewrite the implementation?

[2020-06-12 22:19] ayaankhan98 commented on #804
@Kia-G go ahead and fix this, waiting for you PR

[2020-06-13 13:59] kvedala commented on #804
Sure @Kia-G. The implementation does not necessarily have to be the same as in the link I shared above. Hence I suggest the following:
1. can you fix the existing implementation?
    1. if you can, wonderful! and make the pull-request with changes in the same file
    2. if you can't, thats alright, please check point# 2 below
2. are you implementing a new algorithm for `median_search.cpp`?
    1.

[2020-06-14 14:25] LashaBuxo opened #847 "Implementing Segment Tree Data Structure"
I'd like to add a Segment Tree Data structure along with other efficient algorithms. I already implemented it, with an example of usage:

Soon, I'll make PR. It's already tested locally, and have been added several tests in the script as well.

[2020-06-14 18:40] tjgurwara99 commented on #548
This is solved in #840

[2020-06-14 20:06] brayo-pip opened #849 "[FEATURE]Why are ciphers not implemented?"
## Detailed Description

I wanted to improve the RSA cipher here, only find out there's none. Before I fork and create that folder is there any specific reason that ciphers haven't been implemented?
## Context

## Possible Implementation

[2020-06-14 20:39] #548 closed

[2020-06-14 20:40] kvedala commented on #849
There is no reason not to implement. You are welcome to contribute and make the maiden cipher implementation. 😄

[2020-06-15 05:08] Anmolreshi opened #851 "Addition in Math folder of topic "Babylonian method for square root""
I am having the source code and i think implementing it into this would be of great help to others , let me know if you want this contribution into your source code.

[2020-06-15 07:27] Rameshwar3297 commented on #758
I want to work on this algorithms. I can add algorithms to calculate postfix and prefix expression. Can i do ?? @

[2020-06-15 08:03] mishraabhinn commented on #851
Go Ahead.

[2020-06-15 09:17] Anmolreshi commented on #851
#851 Adding it

[2020-06-15 09:55] Rameshwar3297 opened #853 "[FEATURE] I want to add postfix calculator"
Postfix expression calculator

## Detailed Description

In this i am going to add to add a feature which convert inefix expression into postfix expression and calculate the value of the expression

## Context

## Possible Implementation

[2020-06-17 10:43] #853 closed

[2020-06-17 22:38] kvedala commented on #808
The checks by `clang-tidy` and `clang-format` though quite extensive and flexible, the existing source code is so badly structured that I has been almost impossible to get the repo working well. I have made a preliminary implementation in a branch in my fork - eb4114e2

It can, again, like the `cpplint` be implemented only on the new pull-requests but this will end up making the already incoherent

[2020-06-17 22:57] #808 closed

[2020-06-20 08:30] ayaankhan98 opened #866 "[BUG] in sorting/merg_sort.cpp"
https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/sorting/merge_sort.cpp
Program fails to sort the given array throghs an error
[code]
## Description

try the program with input
[code]
## Expected Behavior

Expected to sort the array

## Actual Behavior

throghs an error
[code]

[2020-06-20 08:34] ayaankhan98 opened #867 "[BUG] Wrong output given by sorting/heap_sort.cpp"
Program is giving wrong output
## Description

try the program with input
[code]
## Expected Behavior

Expected the correct sorted array

## Actual Behavior

getting this wrongly sorted array output
[code]

[2020-06-20 08:43] ayaankhan98 opened #868 "[BUG] wrong output given by sorting/bead_sort.cpp"
program `sorting/bead_sort.cpp` is producing wrong output
## Description

change the input array from the `main()` to modify the input
suppose this array
[code]

after changing this now run the program you will get this output
[code]

## Expected Behavior

Expected the correct sorted array

## Actual Behavior

getting the worngly sorted array

[2020-06-20 09:07] ayaankhan98 opened #870 "[BUG] wrong output given by sorting/bitonic_sort.cpp"
program when tested with input array
[code]
produces a output of
[code]
which is wrong

## Expected Behavior

Expected a correct sorted array

## Actual Behavior

Showing wrong output

[2020-06-20 13:27] kvedala commented on #866
The program is a copy-paste from [here](https://www.geeksforgeeks.org/merge-sort/)
Even the copy-paste done by the author was wrong. Line# 74 should have `size-1` as the input argument. That would resolve the memory access issue

[2020-06-20 13:35] ayaankhan98 commented on #866
okay no problem let me fix this.

[2020-06-20 17:40] ayaankhan98 commented on #866
fixed in #872

[2020-06-20 17:40] #866 closed

[2020-06-21 11:45] ayaankhan98 commented on #867
linked to #873

[2020-06-21 11:58] kvedala commented on #867
Better do it other way - to reference The issue being solved by a pull request in the pull-request description.

[2020-06-21 22:42] ayaankhan98 commented on #867
okay i will remember that :)

[2020-06-21 22:42] #867 closed

[2020-06-21 22:42] #811 closed

[2020-06-22 20:10] kvedala opened #880 "[FEATURE] Improving code standards"
## Detailed Description

Now that the repo is somewhat normalized, has a compile and build tool, I tried to check the quality of the code therein. [![Language grade: C/C++](https://img.shields.io/lgtm/grade/cpp/g/TheAlgorithms/C-Plus-Plus.svg?logo=lgtm&logoWidth=18)](https://lgtm.com/projects/g/TheAlgorithms/C-Plus-Plus/context:cpp)
and sadly found that the code standard is "E" which is quite poor

[2020-06-23 08:58] #868 closed

[2020-06-23 10:37] kvedala commented on #868
Was this fixed?

[2020-06-23 10:48] ayaankhan98 commented on #868
oh sorry for not mentoning the reason of close this issue. actullay i was going through the bead sort algortihm then i came to know that it's impossible to sort the negative integers using this algorithm because the idea on which this is based is something like abacus where there are some beads in the rods of abacus and those beads fall under the influence of gravity to arrange themselves in sorte

[2020-06-23 10:48] ayaankhan98 commented on #868
Adding to this we also cannot sort float numbers using this algorithm

[2020-06-23 12:49] omonimus1 opened #883 "[FEATURE] Update README.md -> Adds list of algorithms separated by topic and in increasing difficulty"
## Detailed Description

It could be useful improve the content of the README.md file adding:
* Logo and a link to the [forum room](https://gitter.im/TheAlgorithms) of the community.
* List of all the algorithms shown in different tables, according to the topic, for example:

|Sorting|
|------:|
|[Algorithm 1](README.md)|
|[Algorithm 2](README.md)|

|Searching |
|------:|
|[Algorithm 1](README.md)

[2020-06-23 17:02] kvedala commented on #880
LGTM Analaysis configuration
[code]

[2020-06-23 17:04] kvedala commented on #880
We have so far moved from an "E" to a "D".

[2020-06-23 17:18] ayaankhan98 commented on #880
that's sounds good let's take it to `A`

[2020-06-23 18:37] Panquesito7 opened #887 "Add branch protection rules"
It would be nice if this repository could have branch [protection rules](https://help.github.com/en/github/administering-a-repository/configuring-protected-branches) such as required [commit signing](https://help.github.com/en/github/administering-a-repository/about-required-commit-signing), required [status checks](https://help.github.com/en/github/administering-a-repository/about-required-status

[2020-06-23 18:47] Panquesito7 commented on #880
I will create a PR to fix various issues when I have time. 🙂

[2020-06-23 21:05] kvedala commented on #880
awesome job folks

[2020-06-24 06:03] cclauss commented on #880
https://en.wikipedia.org/wiki/Standing_on_the_shoulders_of_giants

[2020-06-24 07:51] kvedala commented on #880
Since we seem stuck in history than being productive

[2020-06-24 12:01] volatile-static opened #892 "Confused file name "queue_using_linkedlist""
https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/data_structures/queue_using_linkedlist.cpp

In fact, it's a stack.

[2020-06-24 12:19] mishraabhinn commented on #892
I didn't got you.
<a href="https://www.geeksforgeeks.org/queue-linked-list-implementation/">Refer <a>

[2020-06-24 12:23] volatile-static commented on #892
Sorry, I just saw the class names `stack_linkedList `. So I thought it's a stack.

[2020-06-24 12:23] #892 closed

[2020-06-24 17:15] kvedala opened #898 "[FEATURE] Code quality checks"
## Detailed Description

The repo code quality has been quite poor until the introduction of `cpplint` static code analysis checks.
Even then, there are many instances where the checks have not been enough:
1. code formatting is not checked by `cpplint` - introduced `clang-format` in GitHub actions to atuofix formatting per Google C++ standards #805
2. `cpplint` checks are quite limited and hence

[2020-06-24 17:18] kvedala commented on #898
@mishraabhinn @ayaankhan98 @AnupKumarPanwar @deadshotsb @Panquesito7 @StepfenShawn @Anmol3299 @iamnambiar

[2020-06-24 17:55] ayaankhan98 commented on #898
can we use Codacy instead of LGTM?

[2020-06-24 18:01] Panquesito7 commented on #898
[CodeFactor](https://github.com/marketplace/codefactor/) seems good to me.
It might be a good option.

[2020-06-24 18:04] mishraabhinn commented on #898
Is lgtm paid ?

[2020-06-24 18:05] Panquesito7 commented on #898
No, it's [free](https://github.com/marketplace/lgtm).

[2020-06-24 18:08] kvedala commented on #898
Please elaborate on your points to make your case for the yet another tool.

[2020-06-24 18:09] kvedala commented on #898
Please elaborate on your points to make your case for the yet another tool.

[2020-06-24 18:17] Panquesito7 commented on #898
- Similar to LGTM.
- AFAIK, build runs faster than LGTM.
- Customizable rules.
- Autofix available.
- Supports more programming languages such as:
  - Java.
  - C#.
  - Bash.
  - CSS.
  - And many others.
- Has Slack integration.
- Probably has other stuff I don't know of.

That's my opinion; I think [Code Factor](https://github.com/marketplace/codefactor) is better than [LGTM](https://github.com/

[2020-06-24 18:21] mishraabhinn commented on #898
<a href="https://medium.com/devgurus/continuous-code-quality-and-automated-code-review-tools-aa911dd1b263">Continuous code quality and automated code review tools
</a>

[2020-06-24 18:22] kvedala commented on #898
* The more-programming languages option is pretty much useless in this repo - This is exclusively for C++
* [![CodeFactor](https://www.codefactor.io/repository/github/kvedala/c-plus-plus/badge/master)](https://www.codefactor.io/repository/github/kvedala/c-plus-plus/overview/master) This is the current status. so, LGTM is performing more stricter tests than Code Factor.

[2020-06-24 18:25] ayaankhan98 commented on #898
codacy is yet another tool which ensures good code standard, With Codacy, we get static analysis, cyclomatic complexity, duplication and code unit test coverage changes in every commit and pull request.
we can use Codacy to enforce your code quality standard, save time in code reviews, enforce best practices, on integrating with repositories we get quality analysis of every pull request.

apart fr

[2020-06-24 18:29] ayaankhan98 commented on #898
Earlier i tried to link this repository to codacy but it requires admin permission.

[2020-06-24 21:49] kvedala commented on #898
### Here is my brief understanding

LGTM | Codacy
-------|----------
convenient for once-in-a-while contributors | not so convenient for once-in-a-while contributors
extremely simple interface for a simple project | too many un-necessary options for a simple project
limited number of checks | extensive checks utilizing existing tools like `clang-tidy`, `cpplint`, etc
no need for additional configu

[2020-06-24 21:50] kvedala commented on #898
I linked my fork and tried it out

[2020-06-24 21:52] ayaankhan98 commented on #898
so what's the decision are we sticking to LGTM or moving to codacy?

[2020-06-24 21:59] kvedala commented on #898
Lets wait on more feedback from other members as well. There is no rush to decide on one. The LGTM is active for now anyways and serves the purpose without causing any harm. The thread is essentially for a long term commitment and hence needs to be resolved democratically. I alone cannot make a final decision. Needs to be voted upon.

I have added a voting tool in the main issue description for co

[2020-06-24 22:10] Panquesito7 opened #900 "Add website link in repository description"

[2020-06-24 22:12] kvedala commented on #900
done

[2020-06-24 22:14] Panquesito7 commented on #900
Thanks!

[2020-06-24 22:14] #900 closed

[2020-06-25 03:54] kvedala commented on #880
We are now at A rating. Great job everyone 👍
There is only one correction left. I think we might need the original author's unit on it

[2020-06-25 16:25] farrukhras commented on #870
@ayaankhan98 Bitonic Sort only works on sequences with a length that is in the order of the power of 2 like 4, 8, 16, 32 etc. From what I see, you have given a sequence with length 10, which does not in the order of power of 2. Try changing your input length to something in order of power of 2. It is also specified in the comments of the sorting/bitonic_sort.cpp.

![image](https://user-images.gith

[2020-06-25 16:31] #870 closed

[2020-06-25 23:31] kvedala commented on #898
@shubhamguptaji and @ms10398 There was a pull-request #133 merged with the file: `trie_tree.cpp`. This is the only file with the alert that is keeping this repo from getting an **A+** rating.
* Link to the error: [from lgtm](https://lgtm.com/projects/g/TheAlgorithms/C-Plus-Plus/snapshot/194a3b18c41a6aa46852f64056b0d96e2dcc723b/files/data_structures/trie_tree.cpp?sort=name&dir=ASC&mode=heatmap#x3d3

[2020-06-26 02:02] kvedala commented on #880
@shubhamguptaji and @ms10398 There was a pull-request #133 merged with the file: `trie_tree.cpp`. This is the only file with the alert that is keeping this repo from getting an **A+** rating.
* Link to the error: [from lgtm](https://lgtm.com/projects/g/TheAlgorithms/C-Plus-Plus/snapshot/194a3b18c41a6aa46852f64056b0d96e2dcc723b/files/data_structures/trie_tree.cpp?sort=name&dir=ASC&mode=heatmap#x3d3

[2020-06-26 02:17] kvedala opened #908 "Code in `range_queries` folder"
- [ ]  is not upto the standards and needs rework
- [ ]  include in CMake compilation structure

[2020-06-26 02:18] kvedala opened #909 "Code in `graph` folder"
- [x]  is not upto the standards and needs rework
- [x]  include in CMake compilation structure

[2020-06-26 02:25] kvedala commented on #849
I am working on implementing Hill Cipher.
Others are welcome to contribute as well.
Closing the issue

[2020-06-26 02:25] #849 closed

[2020-06-26 11:42] kvedala opened #911 "[FEATURE] License for documentation website"
The documentation generated by the repository is becoming extensive and we better have a licensing in place. I suggest [Creative Commons Attribution-Share Alike Licence](http://creativecommons.org/licenses/by-sa/4.0/).

[2020-06-26 19:45] Panquesito7 commented on #911
Sounds good to me, I approve this. 👍

[2020-06-27 04:50] Panquesito7 commented on #849
Why close the issue? It is not solved yet.
Others can easily look at it and can help contributing. 🙂

[2020-06-27 10:05] kvedala commented on #849
The “why” question is answered. For people to contribute, this doesn’t have to be open. Contribute anytime

[2020-06-27 10:05] kvedala commented on #849
Also, look here https://github.com/TheAlgorithms/C-Plus-Plus/projects

[2020-06-28 01:06] kvedala commented on #887
good points. Let us ask ourselves:
1. do we foresee, in the current execution, any issues with corrupting the branches?
2. what value does commit signing add to us?
3. with #805 merged, status checks are now in place. what additional ones do we need?

Could you answer the above points?

[2020-06-28 01:08] kvedala commented on #883
Great point. Please check the new documentation website:
https://thealgorithms.github.io/C-Plus-Plus
and its "Files" tab.
Would that address the above concerns?

[2020-06-28 01:21] kvedala commented on #851
This was implemented in #852 but was closed by author. hence closing this issue

[2020-06-28 01:21] #851 closed

[2020-06-28 12:53] #883 closed

[2020-06-28 12:53] #911 closed

[2020-06-28 13:21] kvedala commented on #883
Feel free to reopen the issue if you think this is not addressed and any suggestions as to why you think it is not fixed would be helpful.

[2020-06-28 18:39] Panquesito7 opened #924 "Repository description minor issue"
The repository description has a minor issue.
It is written `etc`, the correct way is `etc.`

[2020-06-28 18:40] kvedala commented on #924
fixed

[2020-06-28 18:40] #924 closed

[2020-06-29 19:46] Panquesito7 opened #928 "Many abandoned PRs"
There are about 10 pages of open PRs without any comments, reviews or labels.
Shall we review those PRs, close them, or something else that you propose?

[2020-06-29 22:01] ayaankhan98 commented on #928
@Panquesito7 i was also thinking about this, some of the PR's are very old and no one is likely to response over them, i think PR's which are older than 2 Months should be closed. @kvedala what's your opinion on this ?

[2020-06-29 22:21] kvedala commented on #928
Once in a while, I go to the old commits and have requested the authors for status.
I think every author should get a chance to revive their contribution and if they do not respond for a maximum of 2 weeks, the pull-request should be marked "abandoned" and closed.
Open for suggestions and to check how such issues are being addressed in the other repos of TheAlgorithms group.

[2020-06-29 22:22] Panquesito7 commented on #928
The [Stale](https://github.com/marketplace/stale) app can help with this. 🙂

[2020-06-29 22:24] ayaankhan98 commented on #928
okay let's ping the authors of the old PR, see if they response then it's nice else we will mark them "abandoned"

[2020-06-29 22:37] kvedala commented on #928
If someone has already messaged, it is pointless to post yet another message in the PR.
Please check before posting. Thank you

[2020-06-30 09:06] #762 closed

[2020-07-01 11:02] ayaankhan98 commented on #909
i am working on this issue

[2020-07-02 17:22] enqidu opened #934 "Fenwick Tree[FEATURE]"
## Detailed Description

 I see that Fenwick Tree implementation is missing.
## Context

## Possible Implementation

I can contribute if possible.

[2020-07-02 18:26] kvedala commented on #934
are you sure?
https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/range_queries/fenwick_tree.cpp

[2020-07-03 07:05] enqidu commented on #934
Oh, thanks, I couldn't find it.

[2020-07-03 07:05] #934 closed

[2020-07-05 17:51] vakhokoto opened #935 "[FEATURE] Dynamic solution for Hamilton's Cycle"
Hamiltons cycle dynamic solution
## Detailed Description

I can't find an implementation of hamiltons cycle dynamic solution implementation for low Ns and I can write it.
## Context

## Possible Implementation

[2020-07-06 17:37] Panquesito7 commented on #887
Something wrong can happen with the branches.
It can happen that, you can corrupt branches when pushing from a different branch, to a different branch with a force-push. That will surely corrupt a branch.

You can create commits as another person.
The commit is not verified, and you cannot verify it.

Of course, that is not so common, however you don't know when that can happen.
If the commit is v

[2020-07-06 18:15] sprintyaf opened #938 "[FEATURE] Adding Fibonacci Search"
I would like to add Fibonacci Search.

## Description

Fibonacci Search is a comparison-based technique that uses Fibonacci numbers to search an element in a sorted array

## How would it work

Input - a sorted array and an integer
Output - an index of the given integer

[2020-07-06 18:20] Panquesito7 commented on #938
Please create a PR if you think it fits well here.
We will review your PR as soon as you submit it.

Please review the [contributing guidelines](CONTRIBUTING.md).
Thank you for your contribution. 🙂

[2020-07-06 18:37] enqidu opened #939 "[FEATURE] Skip List"
## Data Structure
I couldn't find skip list data structure

## Possible Implementation
I can contribute if it's possible

[2020-07-06 18:39] Panquesito7 commented on #939
Please create a PR if you think it fits well here.
We will review your PR as soon as you submit it.

Please review the [contributing guidelines](CONTRIBUTING.md).
Thank you for your contribution. 🙂

[2020-07-08 00:19] kvedala commented on #898
After 2 weeks, the majority votes are for LGTM.

[2020-07-08 11:03] ayaankhan98 commented on #898
okay let's keep this repo with LGTM

[2020-07-08 18:05] #880 closed

[2020-07-10 13:25] kvedala opened #946 "[FEATURE] Help needed with docs website CSS template"
## Detailed Description

Help is requested from contributors to create CSS stylesheets, header and footer templates for the doxygen based online site for the repo.

[2020-07-10 16:38] gaushikmr commented on #847
@LashaBuxo Can u assign me to work on this

[2020-07-10 16:38] gaushikmr commented on #570
@Kunal614 Can u assign me

[2020-07-10 16:41] LashaBuxo commented on #847
@gaushikmr I already implemented this part as mentioned in above comments

[2020-07-10 16:45] gaushikmr commented on #847
@LashaBuxo Any other works to be done

[2020-07-10 16:46] gaushikmr commented on #847
@LashaBuxo SO that I can help you

[2020-07-10 17:11] Panquesito7 commented on #847
Please don't ask to be assigned.
Read the [contributing guidelines](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).

[2020-07-10 17:13] gaushikmr commented on #847
@Panquesito7 Is there any issues for me to work.I am familiar with C and Python.

[2020-07-10 17:15] gaushikmr commented on #570
@Kunal614 Can I work with this issue

[2020-07-10 17:23] Panquesito7 commented on #847
You can work on them and create a PR, just don't ask to be assigned.
Before submitting, please check previous suggestions, as yours may be a duplicate.

Thank you.

[2020-07-10 20:07] #938 closed

[2020-07-13 20:08] #939 closed

[2020-07-13 20:13] brainless-coder commented on #946
I want to work on this issue. Please assign me this issue

[2020-07-13 20:44] Panquesito7 commented on #946
Please don't ask to be assigned. See the [contributing guidelines](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md#contributor).
If you want to help with this, submit a PR or contact the admins to work on it.

Thank you. 🙂

[2020-07-17 03:25] Gopal-Dahale commented on #717
Can I work on this if it is open?

[2020-07-17 06:16] cclauss commented on #717
Anyone can work on it.  Everything is open...  this is open source.  Submit a pull request and it will be reviewed.

[2020-07-17 12:06] kvedala commented on #717
Wouldn't this be an *example of how to use `std::sort`* and not an algorithm?
There are examples on almost every STL library website.
[see example](https://lmgtfy.com/?q=std%3A%3Asort&s=d&iie=1)

[2020-07-18 21:16] #827 closed

[2020-07-19 16:36] #829 closed

[2020-07-19 17:10] Dharni0607 commented on #777
Hi, I would like to implement the OOP approach. Can I proceed?

[2020-07-19 17:20] Panquesito7 commented on #777
Sure, please create a PR in order to get started.
Thank you for your help.

[2020-07-19 18:27] kvedala opened #959 "[feature] Caesar Cipher"
Implementation of Caesar Cipher

[2020-07-19 18:50] #959 closed

[2020-07-21 11:49] kvedala commented on #946
@brainless-coder Feel fret contribute and create a pull-request when ready. You can also reach us on the Gitter chat - link posted in the repo README.

[2020-07-21 11:56] kvedala commented on #753
I think this can be closed now. The C++ standard for compilation, etc have been standardized for each and every file and tested on three platforms.

C++11, though old, allows to implement the algorithms from the repo directly on small microcontrollers running on RTOS and not relying on linux or other larger OS kernels.

[2020-07-21 11:56] #753 closed

[2020-07-21 12:27] imdeep2905 opened #967 "[FEATURE] Multilayer Perceptron"
I have seen that you guys have MLP in TODO [here](https://github.com/TheAlgorithms/C-Plus-Plus/projects/1#card-40773519).

I already have implemented NN in C++ ([repo link](https://github.com/imdeep2905/Neural-Network-CPP)). I am planning to make a pull request to add this. But as you might have seen I have created three header files. I am also going to modify code to suit the pull request. Can yo

[2020-07-21 13:30] kvedala commented on #967
Thats wonderful, thank you 👍
1. Ideally, the repo had been using at most of two files - one CPP and one H, if needed.
2. The `matrix.hpp` sounds quite generic and useful. Please review `QR decomposition` and `LU decomposition` programs in the repo that use similar tools but only that are needed. There is redundancy but it keeps the programs whole and easy to read and study with the documentation a

[2020-07-21 18:57] imdeep2905 commented on #967
I will add proper documentation and namespaces. One more thing should I keep header files in the same folder (```i.e. machine_learning/```).

[2020-07-21 19:10] kvedala commented on #967
yes, in the same folder please and with the same names, except for the type suffix - .h and .cpp

[2020-07-21 19:17] kvedala opened #968 "[feature] ADALINE neural network"

[2020-07-21 19:18] #968 closed

[2020-07-21 19:22] #898 closed

[2020-07-22 16:59] imdeep2905 commented on #967
Is it okay if I provide only ```MSE``` as loss function and ```SGD``` as optimizer (along with various activation functions) ?

[2020-07-22 17:11] Panquesito7 opened #971 "[FEATURE] Add multiplication tables"
## Detailed Description

Add multiplication tables for any number.
It will show from 1 to 10.

For example, if you type `6`, it will print from `6 * 1` to `6 * 10`.
And the result, of course. 😄

[2020-07-22 17:51] kvedala commented on #967
Absolutely!

[2020-07-22 17:58] kvedala commented on #971
please do not delete the template provided. It enables you to provide with details for what you are requesting and for contributors to better understand the requirements.

This issue has no description whatsoever and does not define what a "multiplication table" is and how it is an algorithm.

[2020-07-22 18:02] Panquesito7 commented on #971
Updated. Is it OK now?

[2020-07-22 18:11] kvedala commented on #971
this doesn't seem like an algorithm.
closing this.

[2020-07-22 18:11] #971 closed

[2020-07-23 20:32] kvedala opened #974 "[BUG] `hashing/chaining.cpp` does not compile"
## Description

Non compiling code - tried on Windows and GitPod.

[code]

Original author: @vasutomar

## Expected Behavior

Unknown.. no explanation provided anywhere. Should compile at least.

## Actual Behavior

## Possible Fix

See attached possible fix. But the code does not seem to give expected results.

## Steps to Reproduce

1. Open the repo in GitPod using the link provided in the Readm

[2020-07-23 20:38] kvedala commented on #974
The issue can be resolved by removing `using namespace std;`
But this still keeps the issue of
1. using global variables
2. using C-type arrays identified as errors by the CI tools

[2020-07-23 20:38] #974 closed

[2020-07-25 17:59] imdeep2905 commented on #967
Should I provide facility to save and load model ?
I mean it is already there in my code, but I was confused about that feature since it include file handling (i.e. ```fstream```).

[2020-07-25 18:01] kvedala commented on #967
You can use any of the standard C++11 features from the STL library.

[2020-07-29 17:39] #935 closed

[2020-08-03 00:52] RaminCH opened #985 "cpp alg"

[2020-08-03 00:53] Panquesito7 commented on #985
Please provide more information about this issue.
Do not remove the template provided.

Thank you.

[2020-08-03 06:36] RaminCH commented on #985
I am learning algorithms and downloaded this app.

On top (+) button on each suggested page seemed like adding interesting topics to my page like to do list (logically).

I think now it isn't right?

Thank you.

[2020-08-03 06:40] RaminCH commented on #985
Yup it is actually smthn different.

My apologies.

[2020-08-03 14:08] #985 closed

[2020-08-06 22:05] arpanmukherjee opened #995 "Added Sparse Table for range query"

[2020-08-06 22:13] Panquesito7 commented on #995
This is not a bug. Use the feature request template.
Please don't remove the template provided.

[2020-08-12 04:50] fhlasek opened #1004 "[FEATURE] Build a common graph representation"
Most of the algorithms in the graph folder implement their own representation of the graph structure and very often it is quite similar piece of the code.

## Detailed Description

- [ ] Build a new header-only library in `graph` folder that will contain a class for storing a graph as an adjacency list.
- [ ] Use the structure to pass the graph object as a parameter for graph algorithms in the fol

[2020-08-12 04:56] fhlasek opened #1005 "[FEATURE] Graph namespace"
Refactor the graph algorithms to a separate `graph` namespace.

## Detailed Description
Most of the code in the graph subfolder lives in the global namespace. It would be preferable to have the functions transfer into a separate namespace.

## Context
Suggested in #980, contributes to #909.

## Possible Implementation
https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/graph/breadth_first_sea

[2020-08-12 07:26] imdeep2905 commented on #967
For testing Can I upload dataset (for e.x. ```iris.csv```) in the same folder ?

[2020-08-12 20:21] divyansh12323 opened #1006 "Implementing tree and BST algorithms"
## Aim
To add missing Tree and BST algorithms :
* Traversal algorithms(recursive and non-recursive)
* BST insertion
* BST deletion
* BST searching

## Note
Me and @ridhishjain are working on this

[2020-08-12 20:34] #1006 closed

[2020-08-12 21:36] ridhishjain opened #1007 "Shortest Common Super sequence"
## Aim
Implement a program to find shortest common super sequence **Z** of two strings **X** and **Y** such that **X** and **Y** both are subsequences of **Z**

PS: I'm working on this

[2020-08-12 23:25] divyansh12323 opened #1008 "Pancake Sort"
## Aim
 Sort a disordered stack of N  pancakes in order of size with minimum number of flips when a spatula can be inserted at any point in the stack and used to flip all pancakes above it .

P.S. I'm working on it

[2020-08-13 05:10] sujaykaushik008 opened #1009 "Implement Palindrome Partitioning algorithm"
### Aim
To implement an algorithm that gives, the minimum no. of partitions you will have to do in a string, such that each resultant sub string will be a palindrome.

ex: for a given string S: "NITIK" we can do the partition as -  N | ITI | K thus, output will be "2" (without quotes)

PS: I will be working on the implementation

[2020-08-13 05:15] ridhishjain commented on #1009
I don't know..is this somehow similar to cutting-rod problem in DP?

[2020-08-13 06:24] AkVaya opened #1010 "[FEATURE] Adding of an algorithm to check whether a graph is bipartite or not in cpp"
## Detailed Description

I want to add an algorithm which will be used to determine whether the given graph is bipartite or not.

## Possible Implementation
The algorithm will be implemented using object oriented programming

[2020-08-13 08:12] VasuSehgal123 opened #1012 "Implementation of Ternary Search using C++"
## Aim

To implement Ternary Search algorithm in search directory using C++.

PS: I will be working on this.

[2020-08-13 09:32] sainyagoyal opened #1014 "[FEATURE]hcxzxcvbnml,;.'/"
## Detailed Description

## Context

## Possible Implementation

[2020-08-13 09:33] #1014 closed

[2020-08-13 09:47] sainyagoyal opened #1015 "Longest repeating subsequence"
### AIM
Implement a program which print the longest repeating subsequence such that the two subsequence don’t have same string character at same position.
For eg: input:AABEBCDD    output:ABD

PS:I am working on

[2020-08-13 15:01] kvedala commented on #967
I think we can have a small enough CSV file for testing in ML.
Is it https://gist.github.com/curran/a08a1080b88344b0c8a7#file-iris-csv?
Or you can generate simple test data as in other ML programs in the repo and use that for testing.

[2020-08-13 16:31] kvedala commented on #1008
Thank you 👍
Please ensure to follow the documentation standard and a generic structure for the code [like this, for example](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/sorting/gnome_sort.cpp)

[2020-08-13 16:57] imdeep2905 commented on #967
Yes.
It is only around ```4KB``` in size.

[2020-08-13 18:17] kvedala commented on #967
Ok, sounds fine.

[2020-08-13 18:19] Panquesito7 commented on #1015
Thank you for your contribution on this. 👍
In your PR, please add proper documentation and refined code like in #962.

[2020-08-13 18:20] Panquesito7 commented on #1012
Thank you for your contribution on this. 👍
In your PR, please add proper documentation and refined code like in #962.

[2020-08-13 19:36] rishabh-997 opened #1019 "[FEATURE] Implement D´Esopo-Pape algorithm for graphs"
## Detailed Description
I will work on creating graphs algorithms. My primary focus will be to find the shortest path from the vertex v0 to every other vertex. This algorithm is called the **D´Esopo-Pape** algorithm and is faster than Dijkstra's algorithm.

## Context
We sometimes need to to find the shortest path from a given vertex to each vertex

## Possible Implementation

[2020-08-13 19:37] rishabh-997 commented on #1019
Hi @Panquesito7, do you think we need this algorithm in the graphs section?

[2020-08-13 19:40] Panquesito7 commented on #1019
Sounds good to me, thank you for your help. 👍
In your PR, please add proper documentation and refined code like in #962.

@kvedala what's your opinion on this? 🙂

[2020-08-13 21:31] kvedala commented on #1019
All algorithms are welcome to be implemented as long as:
1. Once of the following is true:
    1. the algorithm does not exist in the repo
    2. the algorithm implementation is different from what is present in the repo
2. Adds value to the repo and is not an example of existing function in C++ STL
3. Implementation is atomic and does not depend on third party libraries

[2020-08-13 21:34] rishabh-997 commented on #1019
Thanks for your reviews and comments, I will start working on this then.

[2020-08-14 20:05] rishabh-997 opened #1026 "[FEATURE] Implement Jarvis algorithm to compute convex hull"
## Detailed Description
Given a set of points in the plane. the convex hull of the set is the smallest convex polygon that contains all the points of it.
[Jarvis Algorithm Wiki](https://en.wikipedia.org/wiki/Gift_wrapping_algorithm)

## Context
Jarvis March algorithm is used to detect the corner points of a convex hull from a given set of data points.

## Possible Implementation

[2020-08-15 07:56] #1007 closed

[2020-08-15 07:58] ridhishjain opened #1029 "[FEATURE]: Shortest Common Supersequence"
## Detailed Description
Definition: The Shortest Common Supersequence (SCS) is a string **Z** which is the shortest supersequence of two given strings **X** and **Y** (which may not be continuously present in Z, but order must be maintained).

example 1:
**X**: 'ABCXYZ', **Y**: 'ABZ' then **Z** will be 'ABCXYZ' (y is not continuous but in order)

example 2:
**X**: 'AGGTAB', **Y**: 'GXTXAYB' then *

[2020-08-15 08:15] ridhishjain commented on #1029
thoughts @Panquesito7?

[2020-08-15 14:10] VasuSehgal123 commented on #1012
Thank you for your review, I will start working on this.

[2020-08-15 16:58] kvedala opened #1032 "[BUG] clang-tidy does not format the code"
## Description

Code in some forks does not get formatted. For example, in #1016.

## Expected Behavior

Github Actions should have formatted the source-code to the specs using clang-tidy.

## Actual Behavior

clang-tidy did not format the code.

## Possible Fix

Add an explicit clang-format command before clang-tidy

## Steps to Reproduce

## Context

[2020-08-16 16:56] #1010 closed

[2020-08-16 17:02] AkVaya commented on #1010
resolved https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/graph/is_graph_bipartite.cpp
Closing the issue

[2020-08-17 02:53] rishabh-997 commented on #1026
Resolved at #1027 . Closing this issue. thanks :)

[2020-08-17 02:54] #1026 closed

[2020-08-17 13:38] #1029 closed

[2020-08-17 14:09] AlKun25 opened #1038 "[FEATURE]Create Kadane's Algorithm"
It is a very commonly used algorithm for sub-array problems.

## Detailed Description
It is most famously used in the "maximum sum of sub array" question. The reason being that Kadane's algorithm has a time complexity of O(n), in comparison to the O(n^2) using traditional methods.

## Context
Sub-array problems are very common kind of questions, also asked in many Coding Interviews.
There have bee

[2020-08-17 15:06] kvedala commented on #1038
Thank you.
1. Feel free to create a pull-request to submit your contribution
2. you mention of multiple pull-requests available - are they for this repo? We are not affiliated with other repos outside of [the organization](https://github.com/TheAlgorithms) and do not copy code from others, unless the author shares the code following the repo licensing agreement as provided for in the pull-request

[2020-08-18 00:56] AlKun25 commented on #1038
I meant that there are multiple pull-requests of the algorithm present in this repository itself. In case there is something missing in their pull-requests, let me know. Then, I will make a pull-request myself.

[2020-08-18 02:47] kvedala commented on #1038
Got it. Could you mark the PR or comment in the one you are referring to so that it comes to our notice.
[I see](https://github.com/TheAlgorithms/C-Plus-Plus/pulls?q=kadane)
* #606 - Merged
* #785 - closed because of redundancy with code from #606.

Thanks.

[2020-08-19 19:25] #967 closed

[2020-08-24 08:13] cfya commented on #1015
I would like to work  on this @sainyagoyal @aashigupta19

[2020-08-24 12:08] aashigupta19 commented on #1008
Hey, I and my team would also like to work on this issue. Can you please assign us this?? @kvedala @divyansh12323

[2020-08-24 15:45] nikhilkala commented on #1008
@aashigupta19
You can work on this issue, or any issue as a matter of fact, no need to ask. Just look into the contribution guidelines to get going.

[2020-08-24 18:52] aashigupta19 commented on #1008
Heyy, actually we required some user acceptance tests for our ongoing project too, like what should be the exact required output, for utmost clarity of the issue, so can you provide the same if possible? Or shall we proceed with our own test cases?? @nikhilkala @divyansh12323 @kvedala

[2020-08-26 04:36] Ritikjain999 commented on #1009
Hey! I would like to work on this issue please assign it to me

[2020-08-26 14:48] #1032 closed

[2020-08-26 23:20] kvedala commented on #909
@ayaankhan98 and @fhlasek can this be closed now?

[2020-08-26 23:23] kvedala commented on #780
@offamitkumar do the linked PRs address your concern? If not, feel free to contribute and create a pull-request 🙂

[2020-08-26 23:29] kvedala commented on #764
@Chillee
The benchmarks can be included in the documentation of the code. It is helpful for any reader to understand how one implementation of a solution to a particular problem is better or worse than the other. If the author of the code is able to describe that in detail, excellent. Even without it, the reader can review, compare, test and come to their own conclusions as to which code suits the

[2020-08-27 03:22] fhlasek commented on #909
@kvedala sounds good

[2020-08-27 07:07] #909 closed

[2020-08-27 07:08] ayaankhan98 commented on #909
Thanks @fhlasek and @kvedala for your continous efforts.

[2020-08-27 18:16] kvedala commented on #880
The repo now has an A+ rating from LGTM. Great work everyone

[2020-08-29 00:01] Baroonn opened #1064 "compile check for windows-OS keeps failing"
compile check for windows-OS keeps failing even though there are no errors in the program

[2020-08-29 01:02] kvedala commented on #1064
1. There is no description as to that `error` you refer to
2. It would have helped if you could follow the provided template to create the issue.

[2020-08-29 01:02] #1064 closed

[2020-09-01 04:50] rakshaa2000 opened #1069 "[FEATURE]Delete without head pointer"
You are given a pointer/ reference to the node which is to be deleted from the linked list of N nodes. The task is to delete the node. Pointer/ reference to the head node is not given.

## Detailed Description

You only need to complete the function deleteNode that takes reference to the node that needs to be deleted. The printing is done automatically by the driver code.

## Context

I had encoun

[2020-09-15 06:47] divyansh12323 commented on #1008
Hey , I was busy with my university exams and couldn't complete the issue but i had made significant progress so I would like to continue on this issue. Can you please assign this to me? @kvedala @nikhilkala

[2020-09-15 17:59] ayush523 commented on #1038
Hi, I would like to work on this issue. Should I create a new Kadane.cpp file and merge?

[2020-09-18 17:40] kvedala commented on #1008
No need to assign. Feel free to contribute with a pull-request. But do ensure the following:
1. that the code does not already exist in the repo
2. review contribution guidelines for the repo
3. all automated checks must pass.

[2020-09-19 19:00] singhalshubham89 opened #1082 "[FEATURE]: MinHeap and MaxHeap algorithm"
MinHeap and MaxHeap using priority queue is missing in Datastructure
## Detailed Description

Simple approach to perform minheap and maxheap using priorityqueue
## Context

I have used in many competitive contest
## Possible Implementation

I can create PR creating sample use of priorityqueue

[2020-09-20 00:25] Panquesito7 commented on #1082
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

- The algorithm isn't a duplicate in this repository.
- Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
- Ensure that the all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2020-09-21 21:05] Panquesito7 commented on #908
Working on this.

[2020-09-23 11:52] Pardeep009 opened #1086 "[bug]: `dynamic_programming/cut_rod.cpp` does not compile"
## Description
There is a bug in cut_rod.cpp code in the dynamic programming section.
INT_MIN was used in the code, but the library(climits) containing it's definition was not included in the code.

## Expected Behavior
The code should get compiled

## Actual Behavior
But while  #1064  it gives the error
        cut_rod.cpp: In function ‘int cutrod(int*, int)’:
        cut_rod.cpp:12:17: error: ‘I

[2020-09-23 18:41] #1038 closed

[2020-09-30 18:03] #1086 closed

[2020-09-30 18:06] Bijoy-007 opened #1099 "[FEATURE] Subset sum problem"
Subset sum problem
## Detailed Description

Subset sum is based on 0/1 knapsack and a fundamental problem of DP so I want to add it here

## Context

## Possible Implementation

[2020-09-30 18:06] Bijoy-007 commented on #1099
Can I work on this?

[2020-09-30 18:09] Panquesito7 commented on #1099
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that the all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2020-10-01 09:01] sawwwrabhp opened #1125 "3 way QuickSort(DNF Sort)"
Based on divide and conquer approach.
Higher overheads but it takes O(n) time for O(1) unique keys. So it is used when working with arrays with large number of duplicates.

[2020-10-01 09:01] sawwwrabhp commented on #1125
Can i work on this?

[2020-10-01 09:44] singhalshubham89 commented on #1082
Please review my pull request with #1121 with this feature. Please note this is my second contribution to open source, any feedback or change is appreciated.

[2020-10-03 06:51] rishav142k opened #1150 "[FEATURE]Segment Tree | Data structure | C++"
## Detailed Description

Implementation of segment tree in C++ language.

## Context

Segment Tree is an important data structure and is helpful in performing efficient range queries along with efficient updation.

[2020-10-03 06:51] rishav142k commented on #1150
That being said, I would like to implement this and take this issue.

[2020-10-03 06:57] rishav142k commented on #1150
Found a similar PR. Closing this now.

[2020-10-03 06:57] #1150 closed

[2020-10-03 08:20] elit-altum commented on #1069
@rakshaa2000 Can I try this one ? And this is for a singly linked list right?

[2020-10-03 08:49] elit-altum commented on #1069
I believe this function would work just fine
[code]

[2020-10-03 14:34] Chlorophytus opened #1165 "[FEATURE] Implement CORDIC algorithm"
New algorithm implementation. This is complex to explain but I will explain it further if needed :)

## Detailed Description
Implement the [CORDIC](https://en.wikipedia.org/wiki/CORDIC) algorithm.

## Context
This is for microcontrollers/microprocessors that don't have Floating Point Units, or they don't accelerate `std::sin` nor `std::cos`, or (most likely) for users who want to use/implement a c

[2020-10-03 14:35] CormacKrum opened #1166 "Trie Insertion And Searching"
Inserting And Searching Of a Words Using Trie Data Structure And STL in C++.

[2020-10-03 16:53] pagdot commented on #1165
I'll take a look at it tomorrow :)

[2020-10-03 17:32] Ghostkeeper commented on #729
I think there are a number of considerations with choosing a testing framework for this repository that are more important than for other projects:
* It needs to be very easy to create tests, since this is for learning.
* The tests need to be easy to read, for the reasons mentioned by Cclaus to teach readers how to call the algorithm in a broader context.
* The tests need to be easy to build. Curr

[2020-10-03 18:05] #729 closed

[2020-10-04 13:09] kvedala commented on #1069
This is valid for a C-implementation. In C++, use of STL classes completely avoids this problem.

[2020-10-04 13:09] #1069 closed

[2020-10-04 13:21] #1166 closed

[2020-10-04 15:01] anjali1903 opened #1182 "[FEATURE] Word Break in C++"
## Detailed Description
Given a non-empty string and a dictionary containing a list of non-empty words, determine if the string can be segmented into a space-separated sequence of one or more dictionary words.
I would like to contribute to the repository by writing the program for the famous word break problem. Kindly assign the issue to me.

[2020-10-04 15:07] anjali1903 opened #1183 "[FEATURE] Gas Station Problem in C++"
## Detailed Description
There is a car with an unlimited gas tank and it costs cost[i] of gas to travel from station i to its next station (i+1). We begin the journey with an empty tank at one of the gas stations.
The starting gas station's index is returned if one can travel around the circuit once in the clockwise direction, otherwise -1 is returned.

## Context
I would like to contribute to the

[2020-10-04 15:22] kvedala commented on #1183
you can simply create a pull-request when you have the code ready. creating stub issues is counterintuitive.

[2020-10-04 15:22] #1183 closed

[2020-10-04 15:26] #1182 closed

[2020-10-05 00:16] Chlorophytus commented on #1165
@pagdot I look into this and it seems difficult to implement for me. I'll look into this some more too in a bit.

[2020-10-06 07:56] devbhansingh commented on #24
I would like to contribute to this project. Are there any particular algorithms that this project needs?

[2020-10-06 12:58] xgupta opened #1201 "[BUG] [Doxygen] XML Parsing Error: duplicate attribute"
## Description

The call graph should be shown in the doxygen documentation. But not available for many functions. See one https://thealgorithms.github.io/C-Plus-Plus/df/dfb/minimax_8cpp.html#ae66f6b31b5ad750f1fe042a706a4e3d4.

## Expected Behavior

Call graph should be visible.

## Actual Behavior

Error state that XML Parsing Error: duplicate attribute
Location: https://thealgorithms.github.io/C

[2020-10-06 13:21] kvedala commented on #1201
Good catch. Thanks for pointing out. It seems that the SVG being generated by doxygen is invalid. This bug has already been reported and apparently fixed on their master branch. https://github.com/doxygen/doxygen/issues/8053
Once the fix is updated on the minor revision, it should trickle down to the the corresponding [brew](https://formulae.brew.sh/formula/doxygen)

[2020-10-06 13:27] kvedala commented on #24
You can contribute
1. code that addresses open [issues](https://github.com/TheAlgorithms/C-Plus-Plus/issues)
2. code that is in line with the repo objectives in the [readme file](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/README.md)
3. Suggestions in the [projects](https://github.com/TheAlgorithms/C-Plus-Plus/projects)

Whatever you contribute, ensure to read the repo guidelines and

[2020-10-07 09:36] xgupta opened #1211 "[Enhancement] missing bin of some directory after build"
## Description

When I build the project and see the <build> directory to check the output. Three directories namely greedy_algorithms, operations_on_datastructures, range_queries missing. There are no cmakelist.txt under these directories.

## Expected Behavior

Every directory should have produced its bin after the build.

## Actual Behavior

Three bin directories are missing.

## Possible Fix

[2020-10-07 09:50] sri-vaishnav opened #1212 "[FEATURE] I want to add some BITWISE algorithms to this repository"
// FINDING WEATHER ith BIT IS SET OR NOT

int get_i_bit( int NUMBER, int i)
{
    int bit_at_i = NUMBER & (1<<i);
    return bit_at_i;   // returns 1 if the ith bit is 1 else return 0
}

// Making ith bit set

int set_i_bit(int NUMBER, int i)
{
    int set_at_i = (1<<i) | NUMBER; // ith bit of NUMBER is being set by this operation
    return set_at_i;
}

// Making ith bit unset

int set_i_bit(int

[2020-10-07 13:55] kvedala commented on #1211
It is not so easy. The remaining folders were not included in the CMake build system because of the extensive number of changes required for the individual programs. You are more than welcome to contribute fixing the codes first and then we can add the CMakeLists.txt to the folder. I can create that as a GitHub repo project and the pull-requests can be added to it for better tracking.

[2020-10-07 13:56] kvedala commented on #1212
Feel free to contribute with a pull-request. the Issue created here is moot as no action can be taken on it.

[2020-10-07 13:56] #1212 closed

[2020-10-11 04:55] fhlasek commented on #24
@kvedala this issue seems like an anti-pattern type of issue with no particular way of resolving it. Let me close it and reopen if  you think there's a good reason to have it.

[2020-10-11 04:55] #24 closed

[2020-10-11 04:55] #185 closed

[2020-10-11 04:56] #186 closed

[2020-10-11 04:56] #193 closed

[2020-10-11 04:58] fhlasek commented on #195
this file no longer exists in the repo

[2020-10-11 04:58] #195 closed

[2020-10-11 05:01] fhlasek commented on #259
@ashneg I believe that this repo's main purpose is to gather general algorithms rather than contain a repository of solutions to specific problems from competitions. Furthermore, there is a focus on the clarity of the implementation while in programming competitions speed and briefness are often more important factors. Closing this issue.

[2020-10-11 05:01] #259 closed

[2020-10-11 05:02] fhlasek commented on #268
@mmg0311 read [CONTRIBUTING](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md) for instructions on how to contribute.

[2020-10-11 05:02] #268 closed

[2020-10-11 05:03] #271 closed

[2020-10-11 05:05] fhlasek commented on #283
Resolved by now
https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/math/least_common_multiple.cpp

[2020-10-11 05:05] #283 closed

[2020-10-11 05:07] fhlasek commented on #306
@Kushagra-0801 I believe such an algorithm would fit nicely in `math` folder. If you find a missing algorithm that you'd like to add, please follow the [CONTRIBUTING](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md) guidelines to add it.

[2020-10-11 05:07] #306 closed

[2020-10-11 05:08] #353 closed

[2020-10-11 05:14] fhlasek commented on #478
@Xacrolyte please open an issue with a more specific algorithm that you think should be added.

[2020-10-11 05:14] #478 closed

[2020-10-11 05:17] fhlasek commented on #717
Agree with @kvedala, I don't see a clear added value of the proposed program.

[2020-10-11 05:17] #717 closed

[2020-10-11 05:19] #758 closed

[2020-10-11 05:22] fhlasek commented on #780
seems like this had been merged, closing now

[2020-10-11 05:22] #780 closed

[2020-10-11 05:27] fhlasek commented on #928
Very much agree - even closed PRs are quite easy to re-open if the author comes back.

[2020-10-11 06:20] MiKinshu commented on #776
Can I work on this?

[2020-10-11 10:57] xgupta commented on #1211
So we will create saperate pull requests for these three directories. we will first try to build greedy_algorithm directory. When configuring this directory with cmake by adding entry in root CmakeLists.txt and creating a CmakeLists.txt in greedy_algorithm directory, an error occured

So to fix it we can change the name of greedy_algorithms/dijkstra.cpp to something like greedy_algorithms/dijkstra

[2020-10-11 14:11] kvedala commented on #259
An addendum:
Many competitive coding challenges involve application of a certain algorithm or a certain type of algorithm. These algorithms should fit into one of the folders of the repo. There are many contributions in the repo that have originated from competitive coding challenges. As advised above, please review the guidelines and feel free to contribute accordingly.

[2020-10-13 21:30] Aman23092001 opened #1277 "[Adding a Binary Tree Problem]"
Symmetric Tree | LeetCode | 101

## Detailed Description
I want to add a question on Binary Tree, which LeetCode famous problem Symmetric tree. This problem is solved using DFS

## Context
Well, I wanted to participate in hacktoberfest and so providing a value to the open source is always a good thing.
They can understand multiple topics like recursion, what is DFS. And also it will encourage them

[2020-10-14 06:39] ji-sang-geun opened #1283 "[FEATURE] Can I comment on the algorithm part and translate the readme file into Korean?"
Can I comment on the algorithm part and translate the readme file into Korean...?

## Detailed Description

I want to comment on the code to make it easier for others to study and more readable.

## Context

If you translate the Readme, other Koreans can participate in code contributions and error detection. Also, by commenting, it's easy to see at a glance what those lines do.

## Possible Implem

[2020-10-16 16:38] #995 closed

[2020-10-16 16:40] kvedala commented on #1277
To participate in the Octoberfest,
1. create a contribution appropriate for this repo
2. Review the repo's aims and objectives and the coding standards. Lot of documentation and samples are provided.
3. Create a pull-request from your fork of this repo. Ensure you follow the checklist thoroughly.

Creating issues does not help in Octoberfest.
Thank you

[2020-10-16 16:40] #1277 closed

[2020-10-16 16:43] kvedala commented on #1283
To maintain language specific translations for the entire repo would be quite difficult. All the documentations are within the code itself in English. The easier way to translate would be to add Google-Translate or appropriate option to the documentation site: https://thealgorithms.github.io/C-Plus-Plus

[2020-10-16 16:43] #1283 closed

[2020-10-16 20:06] #1008 closed

[2020-10-17 02:03] lordinkavu opened #1309 "Algorithm to find number of inversions in an array"
An algorithm to find how many inversions are required to make an array sorted. This would give an idea on the degree to which the algorithm is already sorted.

[2020-10-17 17:14] danglingP0inter commented on #1309
Can you assign this issue to me?

[2020-10-18 08:37] Ganesh-Agarwal-25 commented on #1309
please assign this to me

[2020-10-18 09:35] aashigupta19 commented on #1309
Sir can you please assign this to me. We are a team of 11 members doing this project as part of our college(LNMIIT) curriculum,  so we'll be completing this project within 4 weeks.

[2020-10-18 10:11] KaustubhDamania opened #1323 "[FEATURE] Implement nCr mod p"
## Detailed Description

Implementation of (nCr % p)

## Context

It is a common subproblem in competitive programming questions.

[2020-10-18 16:23] tanujdhiman commented on #1125
Hey, @sawwwrabhp
The Overall Time Complexity of quick Sort is O(nlogn). It differs in some cases:
* Worst Case - O(n^2)
* Best Case - O(nlogn)
* Average Case - O(nlogn)

Space Complexity of Quick Sort is O(nlogn).
These are the complexities of Basic Quick Sort. but you are talking different which has O(n) complexity.
Can you explain this clearly what approach and advantage of that ?

[2020-10-18 16:27] aashigupta19 commented on #1099
I also want to work on this issue. Can you please assign me this?

[2020-10-18 17:15] Panquesito7 commented on #1099
Please read the [contributing guidelines](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md#contributor): do **not** ask to be
assigned, instead, create a PR; project maintainers will review it. 🙂

[2020-10-18 17:41] Panquesito7 commented on #1309
Please read the [contributing guidelines](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md#contributor): do **not** ask to be
assigned, instead, submit a PR and maintainers will review it. 🙂

[2020-10-18 19:43] webdesignbydivyansh commented on #1323
can u tell me what is p here?

[2020-10-18 19:52] KaustubhDamania commented on #1323
@webdesignbydivyansh p is a given integer, so the value of nCr can be large and not enough to fit even in 64 bit long long int, so in competitive programming, they ask to find value of nCr modulo p

[2020-10-19 07:45] webdesignbydivyansh commented on #1323
if I make a pull request, will that be counted for hacktober fest?

On Mon, Oct 19, 2020 at 1:22 AM Kaustubh Damania <notifications@github.com>
wrote:

[2020-10-19 11:05] KaustubhDamania commented on #1323
Yes, find some other issue and submit a pull request because I have submitted a PR for this issue

[2020-10-19 11:25] sagarpandyansit opened #1338 "[FEATURE] Fix the code for better understanding in the list_array.cpp file"
## Detailed Description

Link of the file: https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/data_structures/list_array.cpp
#### Issues:
1. code for exit does not mention in the list.

## Context

 - without exit code, the user can not understand how to exit from the infinite while loop.

## Possible Implementation

- contributor should write exit code in the console for a better understand

[2020-10-19 15:09] kvedala commented on #1125
there are already 2 implementations. Is this different from them? if so, how?
READ GUIDELINES. It clearly mentions not to ask for "assigning" issues. Feel free to work on your time and send a pull-request.

[2020-10-19 15:09] #1125 closed

[2020-10-19 15:16] #1099 closed

[2020-10-19 18:08] PradyumnG commented on #367
@fhlasek Can you assign this to me so that I can work on it?

[2020-10-19 20:12] Panquesito7 commented on #367
Please **don't ask** to be assigned. See the [contributing guidelines](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md#contributor).
If you want to help with this, submit a PR or contact the admins to work on it.

Thank you. 🙂

[2020-10-22 10:42] sagarpandyansit opened #1373 "[DOCS][TEST] Documentation and testcases required in list_array.cpp"
## Detailed Description
Link of the file: https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/data_structures/list_array.cpp

## Context

- Documentation is required for a better understanding of the code.
- Testing is required to check whether code is correct or not?
- Edge cases must be tested for all methods.

## Possible Implementation
- Contributors should write proper documentation and

[2020-10-22 17:40] #1338 closed

[2020-10-25 19:21] #1009 closed

[2020-10-28 09:56] sagarpandyansit opened #1402 "[FEATURE] Make connected_component_with_dsu efficient with documentation"
## Detailed Description
Link of the file: https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/graph/connected_components_with_dsu.cpp

## Context
in the program of the disjoint set union, the "find_set" method is inefficient.

## Possible Implementation
We can implement by loop instead of recursion to avoid unnecessary stack and function overhead.
Documentation needs to be improved.
Readabili

[2020-10-28 16:52] tejasdeore7 commented on #1309
@Panquesito7 I have solved this issue. Please review my PR.

[2020-10-29 05:49] Sreshth01 commented on #1323
Can I assume p is a prime number? As in most of the competitive programming problems, p is a large prime number.

[2020-11-10 16:06] singher commented on #928
Hello everyone,

I am not sure who the main author of this repository is, but I have a project of working on open source code and was wondering which of the issues here are still open. Most of them have comments that say people are working on them. I was wondering if there were a couple open issues I could help address?

[2020-11-15 18:07] ayaankhan98 opened #1430 "[FEATURE] Sanitizers"
## Detailed Description

Currently we do not have sanitizer checks it will be good to have them too.
atleast we must have `leak sanitizers` , `address sanitizers` and `undefined behaviour sanitizers`

## Context

## Possible Implementation

[2020-11-25 15:31] hitenvats16 commented on #363
Assign this issue to me. I'll implement.

[2020-11-25 15:52] cclauss commented on #363
We do not assign issues.  We review pull requests.

[2020-11-26 11:32] kvedala commented on #928
Unless an issue is closed, it is very likely that it is un-resolved and anybody can contribute per the repo guidelines. Feel free to pick any such open issue and contribute. Thank you.

[2020-12-07 23:33] JayantGoel001 opened #1433 "ArraySub"
## Detailed Description
Given an array and an integer k, find the maximum for each and every contiguous subarray of size k.

## Context
(It shows implementation and algorithm of heap or deque data structure)

## Possible Implementation
Use of deque STL library

[2020-12-11 07:58] yashgoyal60 commented on #1433
If is not assigned to anyone and you are not working on this. Can I take this and send a merge request

[2020-12-13 16:09] akrish4 opened #1435 "Palindrome Linkedlist in cpp"
## Detailed Description

I would like to add palindrome linkedlist program in cpp.
## Context

Since this topic is missing , I would like to add this topic.
## Possible Implementation

Using Linkedlist.

[2020-12-16 02:45] Panquesito7 commented on #1433
Please wait a few more days. Usually it may take more than a week.
If that limit is passed, you're welcome to make a PR. Only ensure that:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that the all the [automated-tests](https://github.com/TheAlgorithms/C-P

[2020-12-16 03:56] JayantGoel001 commented on #1433
Hello @Panquesito7
Does someone assign me to this task or should I make PR without being assigned?

[2020-12-16 12:20] #1433 closed

[2020-12-23 01:25] Panquesito7 commented on #1435
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that the all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2021-01-15 16:40] #1402 closed

[2021-01-22 11:51] japneetbhatia opened #1442 "[FEATURE] Spiral Display of elements of 2-D array"
## Detailed Description

Suppose the array is :
11 12 13 14 15
21 22 23 24 25
31 32 33 34 35
Output :
11 21 31 32 33 34 35 25 15 14 13 12 22 23 24

## Context

This is a Basic Problem in which we learn to run loops in 2-D array

## Possible Implementation
Arrays

[2021-01-22 11:52] japneetbhatia commented on #1442
I would like to work on this issue

[2021-01-23 00:06] Panquesito7 commented on #1442
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that the all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2021-01-26 03:15] anonymouss opened #1443 "[BUG]: small bug in comb sort"
https://github.com/TheAlgorithms/C-Plus-Plus/blob/e62e94dc2e723cde521cf0730e51046cca148796/sorting/comb_sort.cpp#L64

should be `i < r - gap`, otherwise, when `i = r - gap`, `arr[i + gap]` will be index out of bound.

btw, `swapped` flag seems to be redundant here in `while (gap != 1 || swapped) {}`, no matter `swapped` is `true` or `false`, loop ends when `gap == 1`

[2021-01-27 05:20] Panquesito7 commented on #1443
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* Check if there are no other PR's about this.
* Make your fixes as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that the all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2021-02-02 18:16] faraz16iqbal commented on #1435
Hey can i work on this?

[2021-02-02 18:17] ayaankhan98 commented on #1435
sure go ahead

[2021-02-02 18:26] faraz16iqbal commented on #1435
Is there a time and space constraint?

[2021-02-02 18:33] ayaankhan98 commented on #1435
No there is no such constraint.
Here we do not follow any competetive criteria to mesure the performance of Algorithms. The sole purpose of this repository to serve for educational purpose by providing generally used algorithm implementations using cpp best practices.

[2021-02-05 10:05] #1373 closed

[2021-02-06 16:34] nasseralmohr3600 opened #1450 "[BUG]"
## Description

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Context

[2021-02-06 16:35] nasseralmohr3600 commented on #1450
****

[2021-02-06 16:40] #1450 closed

[2021-02-08 12:17] akrish4 commented on #1435
open another one @faraz16iqbal

[2021-02-08 12:17] #1435 closed

[2021-02-12 04:30] #1443 closed

[2021-02-12 06:29] nasseralmohr3600 opened #1455 "This ticket is about implementing a feature that solve a basic needs to allow Tor2web network to be networked, that is to have a directory of all tor2web nodes and their characteristics (this ticket does not still enter overall networking mechanism, but just how the Tor directory could be used by tor2web)."
This ticket is about implementing a feature that solve a basic needs to allow Tor2web network to be networked, that is to have a directory of all tor2web nodes and their characteristics (this ticket does not still enter overall networking mechanism, but just how the Tor directory could be used by tor2web).

In order to do so we will use an existing directory that's related to the tor2web strict so

[2021-02-12 17:15] ayaankhan98 commented on #1442
[Already Existing](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/others/spiral_print.cpp)

[2021-02-12 17:15] #1442 closed

[2021-02-12 17:16] ayaankhan98 commented on #1323
[Already Implemented](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/math/ncr_modulo_p.cpp)

[2021-02-12 17:16] #1323 closed

[2021-02-13 00:25] Panquesito7 commented on #1443
@ayaankhan98 please use squash-merge. Thank you. 🙂

[2021-02-15 17:18] xgupta commented on #1201
It seems issue is solved now? Above doxygen webpage is displaying correctly.

[2021-02-16 00:46] #1201 closed

[2021-02-16 07:58] UtkarshBhatthere commented on #764
Because Benchmarks themselves are a part of the said explanation/ documentation.

[2021-02-24 06:58] xgupta commented on #1211
Any progress on this?

[2021-02-26 13:53] adi-g15 commented on #1012
@Panquesito7 @VasuSehgal123  this issue can be closed, as it is already implemented - https://github.com/TheAlgorithms/C-Plus-Plus/blob/8e14b25fa36042f89d13cc456d71f02f41ef6caa/search/ternary_search.cpp

[2021-02-26 19:20] #1012 closed

[2021-03-02 09:26] ayaankhan98 commented on #946
@brainless-coder Any update over this?

[2021-03-02 10:23] ijpq opened #1460 "is it necessary to impl merge_sort in parallelism?[FEATURE]"
## Detailed Description
https://en.wikipedia.org/wiki/Merge_sort#Parallel_merge_sort

## Context

## Possible Implementation

[2021-03-02 10:25] ayaankhan98 commented on #1460
Right now we do not have any parallel implementaion of any algorithm. It would be nice to have them too. If you like you can make a PR with Parallel merge sort implementation.

[2021-03-08 05:32] Panquesito7 commented on #1005
I think this issue has been fixed. If you think this needs to be re-opened, please re-open it. Thank you.

[2021-03-08 05:32] #1005 closed

[2021-03-14 08:59] anishsingh935 commented on #1460
Hi I would like to contribute to this project.
can you please suggest me that where is bug  in this algorithm

[2021-03-14 09:01] ayaankhan98 commented on #1460
There is no bug.
Issue is to add a Parallel version of Merge Sort Algorithm

[2021-03-14 09:03] anishsingh935 commented on #1460
ok I understood .Thankyou

[2021-03-20 01:16] Panquesito7 commented on #887
This has been implemented already.

[2021-03-20 01:16] #887 closed

[2021-03-20 02:14] #847 closed

[2021-03-20 02:14] #1004 closed

[2021-03-20 02:14] #777 closed

[2021-03-20 02:14] #1019 closed

[2021-03-20 02:14] #1015 closed

[2021-03-20 03:14] #1082 closed

[2021-03-20 03:14] #1165 closed

[2021-03-20 03:14] #272 closed

[2021-03-20 03:14] #369 closed

[2021-03-20 03:14] #365 closed

[2021-03-20 04:14] #430 closed

[2021-03-20 04:14] #468 closed

[2021-03-20 04:14] #908 closed

[2021-03-20 04:14] #1309 closed

[2021-03-20 05:14] #1430 closed

[2021-03-20 17:29] Kunal614 commented on #570
@gaushikmr Yes

[2021-03-25 15:53] Bro0x00 opened #1469 "[FEATURE] add integral function"
Add integral functionality
## Detailed Description

Add a function fnInt(...) that returns the approximate integral of some function on [a, b] (the function must be continuous on [a, b]). uses Riemann sum except with trapezoids rather than rectangles (for greater accuracy).

## Context

Integrals have a lot of uses in many fields of mathematics.

## Possible Implementation

template<typename R, ty

[2021-03-25 15:58] Panquesito7 commented on #1469
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2021-04-06 17:05] shiqisheng2036 commented on #1469
Hello, I am claiming this issue and working on it. Thank you.

[2021-04-09 18:49] UG-SEP opened #1474 "Wanted to add Paint App in c++"
Hey,
I have cool project Paint With UG a Desktop application so can i add my project.
[Project Link](https://github.com/UG-SEP/Paint-with-UG-The-SEP)
[code]
Thanks

[2021-04-09 21:43] Panquesito7 commented on #1474
Read the discussion here: https://github.com/TheAlgorithms/C/issues/826

[2021-04-09 21:43] #1474 closed

[2021-04-09 22:29] faizan2700 opened #1476 "feat: Implementation of Friend Pairing problem. Dynamic Programming"
## Detailed Description

## Context

## Possible Implementation

[2021-04-09 22:31] faizan2700 commented on #1476
There is one problem of dynamic programming problem that each friend can go to some party single or pairing with another friend. Find the number of Ways N friends can go to party. Should I add the implementation in Dynamic Programming module.

[2021-04-09 23:07] Panquesito7 commented on #1476
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2021-04-09 23:18] faizan2700 commented on #1476
Thank You.

[2021-04-12 02:42] UG-SEP opened #1482 "Whether a number is Kaprekar program in c++"
Please let me to add that whether a number is karpekar number of not
Example:
`Input:` 128
`Output:` No,128 is not a Kaprekar number
`Input:` 9
`Output:` Yes, 9 is a Kaprekar number
Wanted to add this program [here](https://github.com/TheAlgorithms/C-Plus-Plus/tree/master/math)
Please let me assign to do that
Thanks

[2021-04-12 02:45] Panquesito7 commented on #1482
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

I'll look into you

[2021-04-12 02:55] UG-SEP commented on #1482
ok

[2021-04-13 19:59] #1482 closed

[2021-04-18 23:29] #1211 closed

[2021-04-18 23:29] #467 closed

[2021-04-18 23:29] #751 closed

[2021-05-08 07:32] amino19 opened #1490 "[FEATURE] COMMIT AS MEMBER"
### Detailed Description

I have some documents in `.md` file, its necessary to get commit in Algorithm for more enhancement.

### Context

One can use it in many way, as its from an organization name "Geeks for geeks", basically its paid but, I want to commit here as free for others learning docs. & gaining knowledge.

### Possible Implementation

I need to create one folder name "docs" for learn

[2021-05-09 01:30] Panquesito7 commented on #1490
Thank you for your interest in contributing. 👍
It's great to know you want to join the organization!

We already have a repository [Algorithms Explanation](https://github.com/TheAlgorithms/Algorithms-Explanation) where you can find explanations of many algorithms (if that's what you're asking for). 🙂

A few things you should do before joining:

- Contribute to one of our repositories (if possible

[2021-05-09 03:34] amino19 commented on #1490
Thanks David Sir, I think that's really great to go along with <a href="https://github.com/TheAlgorithms/Algorithms-Explanation/tree/master/en">Algorithm explaination</a>.
- I start my contributions today onwards (constantly)
- Sure, I'll review others PR also, & if its reliable to merge, I'll inform you..
- As member, I'll prove as an asset in every field, to the organization.

Once you read this

[2021-05-09 06:39] amino19 commented on #1490
Just made a pull request, <a href="https://github.com/TheAlgorithms/Algorithms-Explanation/pulls">here</a>.
Pl verify!

[2021-05-10 03:32] amino19 commented on #1490
How can I check whether, the program meets all aspects in my local computer?
By the way, I updated everything, as per requirements..

[2021-05-12 14:51] shahbazsyed opened #1495 "[BUG] neural_network.cpp"
Clarification regarding the implementation of dsigmoid and selection of activation function.
## Description

Same activation function used for sigmoid and its derivative
https://github.com/TheAlgorithms/C-Plus-Plus/blob/fed98e86403abb32181a4e5ce90810f0e8d2e3ac/machine_learning/neural_network.cpp#L146
https://github.com/TheAlgorithms/C-Plus-Plus/blob/fed98e86403abb32181a4e5ce90810f0e8d2e3ac/machine

[2021-05-13 19:15] Panquesito7 commented on #1495
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* The fix isn't a duplicate PR in the repository.
* Make your fix as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

I'll look forward to re

[2021-05-15 15:45] #1495 closed

[2021-06-03 02:50] #786 closed

[2021-06-03 02:50] #839 closed

[2021-06-03 02:50] #1455 closed

[2021-06-03 02:50] #776 closed

[2021-06-03 19:41] #764 closed

[2021-06-04 13:03] amino19 commented on #1490
@Panquesito7  I think now, it satisfy the requirements!

[2021-06-09 21:26] #570 closed

[2021-06-09 21:26] #1469 closed

[2021-06-09 21:26] #1476 closed

[2021-06-10 19:50] AbhinavXT opened #1507 "[FEATURE] Divide and Conquer"
Add a folder for Divide and Conquer algorithms.
## Detailed Description

Add a Divide and Conquer folder to for problems specific to this method.
## Context

C++ is one of the major languages used in competitive programming. So, I would like to contribute to this repository.
## Possible Implementation

I would like to add divide and conquer problems and also their time and space complexity analysi

[2021-07-02 07:22] kirtisingh3008 opened #1523 "Addition in Backtracking"
## Detailed Description
Word Break problem and Remove Invalid Parentheses Problem are really good problems to be added under this topic.
Thought Word Break has other implementations too but can also be solved using backtracking.

[2021-07-02 20:46] Panquesito7 commented on #1523
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

I'll review your P

[2021-07-11 15:12] Swastyy commented on #1507
Its a good idea btw we have many algorithms on divide and conquer role @Panquesito7

[2021-07-18 13:02] codingbbq opened #1536 "[BUG] check_prime.cpp returns incorrect output for 9"
## Description
If you check the number 9 for prime, it returns true.

## Expected Behavior
is_Prime(9) should return false

## Actual Behavior
is_Prime(9) should return true

## Possible Fix
Changes in the for loop ?

[2021-07-18 19:59] mrvishalsharma commented on #1536
I have fixed the bug.

//Before :-

Enter the number to check if it is prime or not
9 is a prime number

// After
Enter the number to check if it is prime or not
9 is not a prime number

[2021-07-22 18:08] #1536 closed

[2021-07-30 08:18] AKSHATNEMA opened #1549 "[FEATURE] Addition of dnf_sort in sorting folder"
### Detailed description

# DNF Sort
The Dutch national flag (DNF) problem is one of the most popular programming problems proposed by Edsger Dijkstra. The flag of the Netherlands consists of three colors: white, red, and blue. The task is to randomly arrange white, red, and blue balls such that balls of the same color are placed together. Similarly, we design a problem statement consisting of an

[2021-07-30 08:25] AKSHATNEMA commented on #1549
Please assign this issue to me.

[2021-07-30 17:18] Panquesito7 commented on #1549
@AKSHATNEMA, thank you for opening an issue. Next time, please read our [contributing guidelines](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md):

[2021-07-31 11:33] Swastyy opened #1551 "Update the projects list"
### Detailed description

As we have already completed these below mentioned projects they should be removed from the `List to fix`.
https://github.com/TheAlgorithms/C-Plus-Plus/projects/6#card-63413879
https://github.com/TheAlgorithms/C-Plus-Plus/projects/6#card-63413841
https://github.com/TheAlgorithms/C-Plus-Plus/projects/6#card-63413788

### Context

To keep our TODO list updated.

### Possibl

[2021-08-01 14:09] Panquesito7 commented on #1551
Updated. Thank you for reporting. 🙂

[2021-08-01 14:09] #1551 closed

[2021-08-09 13:15] Swastyy opened #1554 "[FEATURE] Removing the card"
### Detailed description

Pl remove the card https://github.com/TheAlgorithms/C-Plus-Plus/projects/6#card-63413790 from `List to fix` as it has already been fixed. Thanks.

### Context

To have the updated project view.

### Possible implementation

_No response_

### Additional information

_No response_

[2021-08-09 15:29] Panquesito7 commented on #1554
Fixed; thank you. 🙂

[2021-08-09 15:29] #1554 closed

[2021-08-10 03:06] #1523 closed

[2021-08-17 03:30] Swastyy commented on #1507
@Panquesito7 this is already fixed, I suppose it can closed now.

[2021-08-17 03:55] #1507 closed

[2021-08-19 12:25] #1549 closed

[2021-08-21 05:20] Panquesito7 commented on #1490
Closing as @amino19 is already a member. 🙂

[2021-08-21 05:20] #1490 closed

[2021-08-28 13:17] Swastyy opened #1574 "[FEATURE]CPU Scheduling algorithms"
### Detailed description

Should I make a PR for CPU scheduling algorithm to others or create a new folder?

### Context

It can be helpful  to many. 😕

### Possible implementation

_No response_

### Additional information

_No response_

[2021-08-28 16:16] ayaankhan98 commented on #1574
May be you can create a directory `Operating Systems` and within this a new directory `Scheduling Algorithms`

[2021-08-29 15:46] KukretiShubham opened #1576 "[FEATURE] Competitions solutions"
### Detailed description

As we all know CPP is quite popular among the competitive programming coders. And a lot of programming challenges are going on. There are very less places where we get solutions or approach to those questions. We will accept the solution after the competition gets over.

### Context

This will help budding coders.
We can include only standard platform/competitions solutio

[2021-08-30 05:54] ErrolFernandes commented on #1576
happy to help with implementing this!we can also host compititons for these questions and add the best solutions into the solution directory.

[2021-09-01 05:00] pratikgl commented on #1576
Codeforces, Kickstarts, Facebook hacker cup, ... etc. Most of these contests post editorial after the round is over, and they are pretty decent (prepared by problem setters themselves). Streamers like SecondThread, Errichto, William lin also post detailed video solutions (not for every contest tho). Furthermore, after the completion of a round, all the received source codes are open to everyone.

[2021-09-01 05:07] KukretiShubham commented on #1576
I posted this as I couldn't find myself. Can you share links with me.
Thanks for letting me know.

[2021-09-01 05:24] pratikgl commented on #1576
For example here is the editorial link for Kickstart Round E 2021 Question D (Increasing Sequence Card Games) : [Click here](https://codingcompetitions.withgoogle.com/kickstart/round/000000000043585c/000000000085a709#analysis)

Editorial of Codeforces Round 741 (Div. 2): [Click here](https://codeforces.com/blog/entry/94278)

Youtube channel [SecondThread](https://www.youtube.com/c/SecondThread), [

[2021-09-02 06:41] KukretiShubham commented on #1576
Thanks for letting me know. But, standard algorithms are also available everywhere like youtube, blogs etc & but still we are doing it to enhance it. Since we are working to enhance programming and encourage everyone to get into it. I think this works as well.

[2021-09-03 03:52] helper-uttam opened #1583 "[IDEA]"
### Detailed description

`Cycle_Sort` is an algorithm which is used to sort an array ranging from `[1,n]` and I can't find this algorithm in this repository.

### Context

As this repository is all about algorithm I want to add one more algorithm which is not present currently.

### Possible implementation

_No response_

### Additional information

_No response_

[2021-09-03 03:56] #1583 closed

[2021-09-06 14:48] rivalq commented on #1576
@KukretiShubham  Do you mean something like portal/website, where users can submit solutions to some specific problems appearing in mentioned contests. With that other users can just query for some problem's solution in a certain language?
If yes, then if multiple users submit solutions for the same problem should we show all of them or show only some of the top solutions depending on some criteri

[2021-09-09 18:33] KukretiShubham commented on #1576
@rivalq my suggestion was not about creating a new portal/website. It was only about submitting the solution for the different contest. With time, folks can optimise and contribute the better solution. For checking the most optimised solution, maintainers or reviewers will have to test and check (I think this is the part we need to think about).

[2021-09-10 18:44] rivalq commented on #1576
@KukretiShubham  yeah that would also be a good idea. I would love to be part of that

[2021-09-28 05:34] Swastyy commented on #1574
Don't close.

[2021-09-28 12:33] siriak commented on #1574
@Panquesito7

[2021-09-29 16:01] tech-nikks commented on #1576
We could try to find similar questions  for the algorithms or the methods used to solve the problems for the previous contests.
like if a question is solved with a 'x' algorithm we would list the questions which were asked previously on the contests using the same algorithm

P.S:- I'd love to be part of this

[2021-09-29 21:15] anuran-roy opened #1615 "[FEATURE]Add an extremely rudimentary blockchain implementation in CPP"
### Detailed description

Can I add a program for a simple rudimentary simulation demo of a blockchain (minus the networking) in the Others folder, or do I add it to another folder?

### Context

I think a blockchain implementation in CPP will be nice, given how it's a statically typed language, and offers more fine-grained control than some dynamically typed language over the variables.

I think

[2021-09-30 06:02] pratyaksh1610 commented on #1576
We can add problems related to a particular topic instead of adding competition solutions

[2021-09-30 06:04] pratyaksh1610 commented on #1576
We can add problems on a particular topic or an algorithm instead of adding competition solutions, if this could make sense.

[2021-09-30 19:27] kavania2002 opened #1617 "[OTHER] Multiply a number with 7 using BIT_Manipulation"
### What would you like to share?

I would like to write the code for multiplying a number with 7 using only BIT Manipulation.

### Additional information

_No response_

[2021-09-30 19:32] #1617 closed

[2021-10-01 05:24] sparsh9 commented on #1576
The whole dynamic programming is based on 6-7 main questions, other questions are just the derivatives of those problems. So I can include those questions.

[2021-10-01 06:36] sparsh9 commented on #1574
I would like to contribute code for 6 scheduling algorithms
FCFS
SJF
RR
SRTF
NPPS
PPS

[2021-10-01 06:37] tejasbirsingh opened #1621 "[FEATURE] Maximal Square (Square with Max area consisting of all 1's in a binary matrix) | Dynamic Programming | C++"
### Detailed description

I am proposing to add the problem to find maximum area square with all 1's in a binary matrix in C++ language
Problem Statement
Given an m x n binary matrix filled with 0's and 1's, find the largest square containing only 1's and return its area.
Input: matrix = [["1","0","1","0","0"],
["1","0","1","1","1"],
["1","1","1","1","1"],
["1","0","0","1","0"]]
Output: 4

Input:

[2021-10-01 09:54] Mithun691 commented on #1621
I have solved this problem
Where should I add this file ( as in which directory )

[2021-10-01 10:54] APathak666 commented on #1615
can I do it in C?

[2021-10-01 10:57] Mithun691 commented on #1621
Added the code to the problem in the dynamic programming folder

Have a look at my first PR
https://github.com/TheAlgorithms/C-Plus-Plus/pull/1623

Thanks

[2021-10-01 12:48] siriak commented on #1574
@sparsh9 sounds great!

[2021-10-01 14:52] APathak666 commented on #1615
I couldn't find anything related to blockchain in the C repo

[2021-10-01 14:56] siriak commented on #1615
You can be the first to add blockchain-related stuff there :)

[2021-10-01 18:22] Sanika2103 opened #1635 "[FEATURE] Codechef Beginner level problems"
### Detailed description

1. Visit  https://www.codechef.com/
2. Go to the practice and learn section
3. Go to Practice problems by difficulty level

### Context

Provide acceptable solutions for problems. It will help newbies to get the correct solution for a given problem statement.

### Possible implementation

_No response_

### Additional information

_No response_

[2021-10-02 14:05] namangirdhar16 commented on #1635
@Sanika2103 i would like to work on this issue.

[2021-10-02 15:24] akarshan2602 commented on #1635
@Sanika2103 hey, i would love to work on this issue and get it done asap, please assign it to me.

Regards,
Akarshan

[2021-10-03 07:35] Denzil10 commented on #1635
Hey @Sanika2103  my rating has been between 2 and 3 star ( https://www.codechef.com/users/coda121)
I would be great for this as i am capable of writing short and beginner friendly comments explaining my code
I can give a good idea of the my approach, also the functions that i use would be basic so anyone case easily understand

[2021-10-03 09:56] KukretiShubham commented on #1576
Hey @sparsh9 this is a good idea. Suggest the implementation idea. Shall we create folder within this repo or a complete new repo?

[2021-10-03 10:55] URVASHI-PAHWA opened #1657 "[FEATURE] Added BostonNumber in math folder(cpp)"
### Detailed description

A Boston number is a composite number, the sum of whose digits is the sum of the digits of its prime factors obtained as a result of prime factorization (excluding 1 ). The first few such numbers are 4,22 ,27 ,58 ,85 ,94 and 121 . For example, 378 = 2 × 3 × 3 × 3 × 7 is a Boston number since 3 + 7 + 8 = 2 + 3 + 3 + 3 + 7. Write a program to check whether a given integer i

[2021-10-03 11:30] anuran-roy commented on #1615
@siriak can you please assign someone to review my PR? Its number is #1644

[2021-10-03 12:15] sonalee21 opened #1658 "[FEATURE]Addition of random forest algorithm"
### Detailed description

Random forest is a flexible, easy to use machine learning algorithm that produces, even without hyper-parameter tuning, a great result most of the time. It is also one of the most used algorithms, because of its simplicity and diversity (it can be used for both classification and regression tasks).

### Context

As a data science and machine learning enthusiast, random fo

[2021-10-03 12:16] sonalee21 commented on #1658
Please assign me this issue .

[2021-10-03 17:49] Panquesito7 commented on #1658
Please don't ask to be assigned. See the [contributing guidelines](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md#contributor).
If you want to help with this, feel free to submit a PR, and we'll review it.

Thank you. 🙂

[2021-10-04 06:03] sparsh9 commented on #1576
@KukretiShubham This repo seems fine, a new folder will do.

[2021-10-04 15:52] keya00 opened #1668 "Quick Sort [FEATURE]"
### What would you like to share?

I would like to share the code and implementation of Quick sort in CPP

### Additional information

_No response_

[2021-10-05 06:53] shiladityab24 opened #1671 "[FEATURE]Add different variations of Segment Trees"
### Detailed description

Interval Trees(Segment Trees) is a heap-like data structure that can be used for making update/query operations upon array intervals in logarithmical time. I want to add different variations of segment trees like iterative segment tree, dynamic segment tree, segment tree with arithmetic progressions, and segment trees with Dijkstra along with the proper implementation of

[2021-10-05 09:01] devjak26 opened #1672 "[OTHER] Add Longest substring (without repeating characters) implementation"
### What would you like to share?

Longest substring without repeating characters

### Additional information

length of the longest substring without repeating characters.
Important question - Asked in many company's interviews

[2021-10-05 09:02] devjak26 commented on #1672
please assign me this issue

[2021-10-05 12:01] pratham1103 commented on #1672
Yes I can, can u plz assign me this issue please

[2021-10-05 18:54] Panquesito7 commented on #1672
Please do not ask to be assigned. Instead, make a PR and the maintainers will review it.
Just make sure that before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.co

[2021-10-05 23:49] Panquesito7 commented on #1671
Feel free to make a PR to add that if you want! 👍
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

I'll look forwa

[2021-10-06 04:50] pratham1103 commented on #1576
I would like to work on this issue, will you please assign it to me?

[2021-10-06 06:47] KrishanKantAgnihotri commented on #1671
I can add an Iterative Segment Tree. Please assign this to me.

[2021-10-06 07:07] KrishanKantAgnihotri opened #1676 "In dynamic_programming folder Armstrong Number"
### Description

The code in the Armstrong Number.cpp file is bugged it only works for 3 digit numbers perfectly.
https://en.wikipedia.org/wiki/Narcissistic_number
You can check the list of numbers here.

### Expected behavior

defination of armstrong number is assumed wrong in implementation. For example 2 is Armstrong number but According to implementation it is not.

### Actual behavior

for ea

[2021-10-06 07:15] KrishanKantAgnihotri opened #1677 "Kruskal.cpp Improvements"
### Detailed description

I can add union by rank and path compression implementation for this algorithm. Which is not there. This implementation will optimize the running time of this algorithm. Currently, this code root function works in O(n) which can be optimized to O(logn). Also, the join function does not implement union by rank properly.

### Context

This will optimize the algorithm.

###

[2021-10-07 08:26] krrahul23 opened #1695 "[FEATURE]Articulation Point using Tarjan's Algorithm"
### What would you like to share?

Tarjan Algorithm is used to check whether is graph is strongly connected or not
    it also find its uses to check the articulation points ,
    articulation points are those points whose removal increase in the number of connected components
    of graph , it also find its use in finding bridges , bridges are those edge whose removal increase in the
    number o

[2021-10-07 08:41] pond-e opened #1696 "[FEATURE]Add rot_13 cipher"
### Detailed description

Rot13 is a simple letter substitution cipher that replaces a letter with the 13th letter after it in the alphabet. ROT13 is a special case of the Caesar.

### Context

You will learn how to implement and learn about rot13.

### Possible implementation

_No response_

### Additional information

_No response_

[2021-10-07 17:03] haarsh101 commented on #1676
Please assign it to me, I would like to fix the issue with Armstrong Number.cpp code.

[2021-10-07 20:10] akarshan2602 commented on #1696
Hey! Can i work on this? I already made a code for Ceaser cypher, so i think i will be able to make this one too.

Regards,
Akarshan Kumar

[2021-10-08 04:26] happy-t commented on #1676
Fixed the bug, waiting for approval PR no. 1689,

Thanks.

[2021-10-08 04:34] KrishanKantAgnihotri commented on #1676
Hi everyone as this issue is raised by me I should have assigned this task isn't Why anyone else getting the change to create a PR before me?

[2021-10-08 18:26] Arvind0302 commented on #1668
I would like to implement the code of quicksort algorithm along-with its time complexity and space complexity with proper explanation. Kindly assign this task to me

[2021-10-11 16:30] Pranshu321 opened #1722 "Cpp :- Stl map in code form"
### What would you like to share?

I would like to contribute on this issue , in this , I deeply explain about the function used in the STL of map and when , how and why we have to use map  like in hashing .

### Additional information

I used cpp language to write the code and I use useful comments by which my code will be more understandable .

[2021-10-12 19:51] Panquesito7 commented on #1695
For anyone that wants to contribute, please read the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass

I'll look forward to reviewing your PR. Thank you for y

[2021-10-14 05:17] Bhagyanekraje opened #1733 "suggestions for improvement of code [dynammic_programming-armstrong number]"
### Detailed description

One can also perform the above program by using functions in it.I would suggest to do it.
Also proper documentation is needed for the code.

### Context

According to me using functions while writing a code makes it more readable and the code can easily be understood as it is split into pieces of small blocks.

### Possible implementation

Usage of functions in the code.

[2021-10-14 05:27] roeticvampire opened #1734 "[FEATURE] Binary Exponentiation"
### Detailed description

I'd like to add Binary Exponentiation under the Divide and Conquer directory.
The details for the algorithm can be found [here](https://cp-algorithms.com/algebra/binary-exp.html)

### Context

Currently, the repository does not have a lot many algorithms under Divide and Conquer, and binary exponentiation is a simple yet effective algorithm that displays the Divide and Co

[2021-10-16 14:29] Are-Jeh opened #1758 "[FEATURE]next_permutation"
### Detailed description

The detailed algorithm for prev_permutation and next_permutation.
Could you assign me the same?

### Context

These are standard STL functions however, they lead to some very important & fundamental algorithms that have their roots(proof) in the depths of mathematics.

### Possible implementation

_No response_

### Additional information

_No response_

[2021-10-22 07:49] Blaze99git opened #1787 "[FEATURE] Update Of README.md"
### Detailed description

Removing The Double Dot After ("etc..") In The Overview Section

Updating
1) general purpose To general-purpose in point one of features.
2)changing provide to provides in point 2 of features.
3) And updating OpenSource to Open-Source in the last point of the features section.

Thanking You For the opportunity .

### Context

It Would Provide Better looking Text features

[2021-10-22 17:31] #1787 closed, assigned to nobody

[2021-10-31 02:10] Panquesito7 opened #1826 "[BUG] Fix CodeQL warnings"
### Description

Currently, there are many CodeQL warnings. LGTM is marking our code quality as `B`. We need to get it higher (link: https://lgtm.com/projects/g/TheAlgorithms/C-Plus-Plus/alerts/?mode=list).

### Expected behavior

We should fix all the CodeQL/LGTM warnings.

### Actual behavior

LGTM is reporting 7 alerts, which marks our quality code as `B`.

### Possible fix

Fix all the CodeQL/

[2021-10-31 03:18] 2kindsofcs commented on #1826
Hello, I want to take this one.

[2021-10-31 03:48] Panquesito7 commented on #1826
Hey there! Feel free to make a PR and we'll review it! 😄

[2021-11-05 06:15] ayushkedia05 commented on #1826
hello, i will handle this issue

[2021-11-05 07:00] #1722 closed

[2021-11-06 16:55] harsh628 commented on #1826
i want to help you in this...

[2021-11-07 17:49] #1826 closed

[2021-12-05 06:30] stutimohta20 opened #1851 "Reversing a queue"
### What would you like to share?

Reversing a queue using a stack in cpp language

### Additional information

_No response_

[2021-12-05 06:31] stutimohta20 commented on #1851
Please assign this to me

[2021-12-13 09:35] mgncodes commented on #1734
Hi, I'd like to contribute to this issue. Kindly assign this to me. Thanks!

[2021-12-14 03:22] Panquesito7 commented on #1734
Feel free to work on it! :)

[2021-12-16 10:51] webbdays commented on #1851
Just swapping the start and end of queue is enough to reverse the queue.
I think using stack is unnecessary.
But still it's your wish.

[2021-12-17 11:52] webbdays commented on #1851
Yes.
Option 1:
When implementing the queue, add reverse method that swaps the start and end of the queue.

Option 2:
If using the std queue that is already implemented, then we can use stack.

[2021-12-19 00:06] #1733 closed

[2021-12-27 00:06] #1696 closed

[2021-12-27 00:06] #1695 closed

[2022-01-01 00:06] #1758 closed

[2022-01-02 00:07] #1677 closed

[2022-01-02 00:07] #1676 closed

[2022-01-03 00:06] #1668 closed

[2022-01-03 04:57] yashrajyash commented on #1851
@Panquesito7 Please assign this issue to me.

[2022-01-05 07:09] nishant-mahesh commented on #1734
Hello! Is this issue still being worked on? If not, I'd be glad to work on implementing this :)

[2022-01-06 07:13] Shiva336 commented on #1672
Is this issue still open?

[2022-01-06 19:00] Vikash-8090-Yadav opened #1866 "[FEATURE]"
### Detailed description

Hii there, Greeting's of the day

I want to add new file to our repo :  TheAlgorithms /C-Plus-Plus/data_structures/   which is used to calculate the middle element of the singlly linkedlist . The name of the file can be MIddleElement_S.ll.cpp ( TheAlgorithms /C-Plus-Plus/ data_structures/MIddleElement_S.ll.cpp.
I hope u find it useful . give acess to contribute this to ur

[2022-01-06 19:06] Panquesito7 commented on #1866
Hey there! Want to work on this? :)

[2022-01-06 19:08] Vikash-8090-Yadav commented on #1866
Yes , plss assign this to  me ..

[2022-01-09 10:26] saquib678 commented on #1851
I want to work on this issue, Please assign this to me.

[2022-01-09 10:29] saquib678 commented on #1621
I want to work on this, Please assign it to me.

[2022-01-09 10:31] saquib678 commented on #1635
I want to work in this issue, @Sanika2103 Please assign it to me

[2022-01-10 00:07] #1671 closed

[2022-01-12 00:08] #1658 closed

[2022-01-12 00:08] #1657 closed

[2022-01-13 09:06] nishant-mahesh commented on #1672
Hello! I have submitted my pull request for this issue. I hope my contribution is of value, and am looking forward for it to be reviewed!

[2022-01-13 10:02] Vikash-8090-Yadav opened #1871 "Print_linkedList.cpp"
### Detailed description

**Hey there , Greeting's of the day !! :smile: **
I want to contribute in your repo by adding  a new code file namely :   Print_linkedList.cpp and the respective repo path for this will be : **TheAlgorithms/C-Plus-Plus/data_structures/Print_linkedList.cpp**
<br>
Looking forward for your permission , assign this to me so that i can make pr properly with full documentation

[2022-01-17 10:05] mishraabhinn commented on #1871
Hi @Vikash-8090-Yadav what your code will do, will it be different from already implemented [LinkedList.cpp](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/data_structures/linked_list.cpp)

[2022-01-17 10:11] Vikash-8090-Yadav commented on #1871
Heyy there ,
Greeting's of the day ...
 Thanks for the comment !!

sorry for inconvenience , actually am not saw that code ..sorry 😓

[2022-01-17 10:16] mishraabhinn commented on #1871
No problem. You can explore the repository and see how you can contribute. Cheers!

[2022-01-17 10:16] #1871 closed

[2022-01-21 15:33] Qannaf commented on #1574
[code]

[2022-01-21 17:25] Swastyy commented on #1574
Hi @Qannaf , Welcome. Do not forget to make a PR here!

[2022-01-21 19:29] sng125 commented on #1851
Hi! If this is still active, can I try working on this?

[2022-01-21 20:03] Panquesito7 commented on #1851
Anyone of you, feel free to make a PR! Let us know if you need any help. 🙂

[2022-01-21 21:27] alecrothenberg commented on #1851
I just submitted a pull request for this issue, please let me know if I should make any changes to it!

[2022-01-24 00:06] #1615 closed

[2022-01-24 20:26] Xuewei-Chen commented on #1866
Hi, is this issue still being worked on? If so, can I be assigned to this?

[2022-01-24 20:40] Panquesito7 commented on #1866
There's a PR for it already #1867.

[2022-01-24 20:45] Vikash-8090-Yadav commented on #1866
Hii sir , greeting's!!

@Panquesito7 is there anything else I want to do with this code Or it's fine for merging ...?

:)

[2022-01-25 16:23] Panquesito7 commented on #1866
I'll check it out, thanks. 🙂

[2022-01-27 13:40] sambhavsaxena commented on #1576
@sparsh9 you're on it or should i try?

[2022-01-27 16:25] aryantalekar20 commented on #1851
I would like to work on this one if it is still open.

[2022-01-27 19:29] fostersarah commented on #1734
Hi, I would like to work on implementing this!

[2022-01-28 15:12] EitanKog commented on #1851
#1883 I created a reverse_queue file, please check it

[2022-01-28 15:13] EitanKog commented on #1851
#1883

[2022-01-28 21:52] ngiridharan commented on #1851
Hello! This was my first time contributing to open source, please take a look!
 #1887

[2022-01-28 22:18] KaylaOates commented on #1672
Hi! I'm submitting a poll request for this issue and plan to work on it soon

[2022-01-30 00:38] rensaketh commented on #1672
Hey, I submitted my pull request for this issue #1893

[2022-01-30 01:28] AvianTheFly commented on #1851
Hi, can I please contribute to this project? It is for a school grade and I haven't had any responses.

[2022-01-30 07:34] tazyqui commented on #1672
I have submitted my PR for this issue #1899

[2022-01-30 20:04] fredward36 opened #1904 "Perfect Number Algorithm"
### Detailed description

An algorithm which determines whether a number can be composed of its factors (excluding itself) or not.

### Context

An interesting number theory problem that would be beneficial to the algorithm library.

### Possible implementation

bool isPerfect(int num) {
	int sum = 0;
	std::vector<int> factors;
	/* We get the factors of the number first by continuously divide the

[2022-01-30 20:13] #1904 closed

[2022-02-01 00:11] rafaela-eacf commented on #1672
Hello. I have submitted a pull request for this issue #1929. Thanks in advance for reviewing it.

[2022-02-02 03:39] SparkScratch-P opened #1935 "[OTHER] Arduino"
### What would you like to share?

Open a repo for Arduino .... or add it here? I can thn!

### Additional information

_No response_

[2022-02-02 05:18] dhrubo28 commented on #1635
Hi, here's my work https://github.com/TheAlgorithms/C-Plus-Plus/pull/1933 for https://www.codechef.com/problems/CARDS777

[2022-02-08 14:44] VIVEK-SUTHAR commented on #1635
@I  Also Want To Contribute

[2022-02-28 10:59] Vikash-8090-Yadav commented on #1866
hey !! hope u r doing good .....
 @Panquesito7 ..any more chnages needed to this ..?

[2022-03-02 19:32] NHGrizzly opened #1939 "[FEATURE] Linear Algebra Methods Expansion"
### Detailed description

I'd like to take on the task of adding algorithms for linear algebra. I would begin with fundamental row operations and decompositions using the traditional approach.

### Context

I see there is only a GS algorithm in the linear algebra section. There are some basic ones that we are missing like LU Decomposition. I'm a math student with a programming concentration but my

[2022-03-02 19:40] NHGrizzly commented on #1939
Upon starting, I realized Graham Schmitt could just be move to C-Plus-Plus/numerical_methods/.

[2022-03-02 19:43] #1939 closed

[2022-03-07 00:08] #1734 closed

[2022-03-07 00:08] #1621 closed

[2022-03-19 00:08] #1635 closed

[2022-03-23 06:19] vidit21srivastava opened #1942 "Implementation of Floyd-Warshall Algorithm"
### Detailed description

Floyd Warshall Algorithm is a dynamic programming algorithm used to solve all pairs of shortest path problems.

### Context

Floyd Warshall Algorithm is best suited for dense graphs, and its complexity depends only on the number of vertices in the given graph.

### Possible implementation

_No response_

### Additional information

_No response_

[2022-03-23 06:22] vidit21srivastava commented on #1942
I would like to work on this issue.

[2022-04-12 00:09] #1935 closed

[2022-04-16 02:26] Ucok23 opened #1943 "[FEATURE] reverse() method definition in linked_list.cpp"
### Detailed description

list::reverse() method definition

### Context

I see reverse() method as quite interesting feature that list class in data_structures::linked_list declare, but there's no definition/implementation of that method yet

### Possible implementation

Not yet find implementation, will look for

### Additional information

_No response_

[2022-04-17 00:10] #1866 closed

[2022-04-25 00:09] #1851 closed

[2022-04-25 00:09] #1672 closed

[2022-04-27 06:46] nilesh05apr commented on #1942
is it implemented yet?
I would like to work on this algorithm.

[2022-05-01 08:38] bhumikatewary opened #1947 "Weird Algorithm file addition"
### What would you like to share?

Hello, I have made a file addition in your repo: Weird Algorithm file addition #1946
Hope you will like and merge it. Thank you.

### Additional information

_No response_

[2022-05-09 19:46] mishraabhinn commented on #1947
You can respond and reopen it if you have further rectification to the pr, I have closed the pr because I feel it is not accurate right now. Thanks for your contribution.

[2022-05-09 19:46] #1947 closed

[2022-05-24 01:11] #1943 closed

[2022-05-27 12:26] sauravgore opened #1949 "[FEATURE] Add more bit manipulation problems to bit_manipulation folder"
### Detailed description

I want to add some bit manipulation problems to bit_manipulation folder.
Can you please assign this to me ?

### Context

Other users will get to know about some new bit manipulation tricks, so that would be beneficial for them.

### Possible implementation

_No response_

### Additional information

_No response_

[2022-06-06 00:09] #1942 closed

[2022-06-15 07:04] chent11 opened #1951 "[BUG] Cannot compile with the bare-metal arm GCC compiler successfully."
### Description

The compiler is downloaded from [Arm Developer](https://developer.arm.com/tools-and-software/open-source-software/developer-tools/gnu-toolchain/downloads) and its version:
[code]

Using this compiler compile this repo would throw this error message:
[code]

This is because the `int` and `int32_t` is treated differently in this version of GCC.

### Expected behavior

No errors

###

[2022-06-18 09:05] Adit0507 opened #1954 "[FEATURE]: Add Quick Sort in Divide and Conquer"
### Detailed description

I would like to add Quick sort algorithm in the "Divide and Conquer" section

### Context

Quick sort is a pretty important algorithm in Divide and Conquer as it requires partitioning in which the pivot element can be random. Also its pretty fun to understand its working.

### Possible implementation

_No response_

### Additional information

_No response_

[2022-06-19 08:36] LydianJay opened #1955 "[FEATURE]: Add Collision Detection Algorithms"
### Detailed description

Add Collision Detection Algorithms.

### Context

AABB is a good start

### Possible implementation

_No response_

### Additional information

_No response_

[2022-06-20 04:15] Panquesito7 commented on #1955
Thank you for your interest in contributing. 😄👍
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2022-07-04 00:12] #1949 closed

[2022-07-07 18:47] Ayushrawat-cmd commented on #1574
hey, I want to add round robin algo which is self created. @Swastyy

[2022-07-08 06:48] Swastyy commented on #1574
Go ahead @Ayushrawat-cmd 😄

[2022-07-19 04:37] mikyoch commented on #1576
Is there any min-cost-max-flow implementation in C++?
In a graph folder, there is a max-flow implementation but MCMF is not
That should be included in the repo, in my opinion

[2022-07-19 06:03] sambhavsaxena commented on #1576
@mikyoch do you mean to include the network flow algorithm?

[2022-07-25 12:48] #1954 closed

[2022-07-28 00:12] #1955 closed

[2022-09-13 10:26] OtherHorizon commented on #1574
hey, i would like to contribute the code for shortest remaining time first algorithm.

[2022-09-13 13:26] Panquesito7 commented on #1574
Feel free to work on it! Let us know if you need any help. 🙂

[2022-09-14 12:32] Ayushi15-Vamne opened #1993 "[FEATURE] Array Coding Question"
### Detailed description

I found that array coding question's are missing in the repository. Since Array is very Important and essential topic in coding, so I want to contribute on that topic.
Can I work on this issue?

### Context

Array is important in the world of programing and initial step to get into Competitive Coding.

### Possible implementation

I want to create one specific folder for

[2022-09-15 15:16] Panquesito7 commented on #1993
Thank you for your interest in contributing. 🎉
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

I'll review your P

[2022-09-16 05:41] Rytnix opened #1994 "[FEATURE] Travelling Salesman - DP Optimisation using BitManipulation"
### Detailed description

In this algo we are going to use Bitmasking technique to solve famous NP-hard Traveling Salesman Problem.
As we know working with bits decreases the time complexity little bit.

### Context

The Time complexity  of naive approach is (n!)
where as the TC of  bitmask dp approach will be  (n^2 * 2^n) which is better than the naive approach.

### Possible implementation

For

[2022-09-23 03:23] Panquesito7 opened #1997 "[FEATURE] Add a games folder"
### Detailed description

Add a games folder including games such as Tic Tac Toe, memory game, and others.
P.S: there's already a games folder in the [C](https://github.com/TheAlgorithms/C/blob/master/games) repository.

### Context

This could attract more users to add their game implementations (as long as they follow our guidelines) if they don't have any algorithm.
However, it might not be the

[2022-09-23 16:13] Panquesito7 commented on #1994
Hey there! Feel free to work on this. Thank you! 🎉
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

I'll look forw

[2022-09-24 03:18] Rytnix commented on #1997
Adding games folder would be a good idea.
Looking forward to implement this...

[2022-09-26 02:08] Panquesito7 commented on #1997
Cool! Feel free to add the first game to the repository! 🎉
Do let us know if you need any help here or on our [**Discord server**](https://the-algorithms.com/discord). 😄

[2022-09-27 17:24] #1951 closed

[2022-09-29 07:41] modiniraj09 commented on #1576
I want contribute to this repository?
will you please assign it to me

[2022-09-29 07:43] modiniraj09 commented on #1993
I want to contribute to this repo?
please assign it to me..

[2022-09-29 08:19] Ayushi15-Vamne commented on #1993
Hey @modiniraj09/@Panquesito7,

I am working on it. I will let you know if I need any help.

Thanks!!

[2022-09-30 02:02] Panquesito7 commented on #1993
Sorry, it seems Ayushi is already working on it.
You can take a look at other issues or look to make any improvements you think should be done. 🙂

Don't forget to join our [**Discord server**](https://the-algorithms.com)! 🙂

[2022-09-30 11:08] vj-codes commented on #361
@Panquesito7 hey I would like to work on this!

[2022-09-30 13:24] logic-404 opened #2005 "[FEATURE] Adding Best Time to Buy and Sell Stock series."
### Detailed description

Best Time to Buy and Sell Stock is a very intuitive dynamic programming series that needs to be understood by any programmer trying to learn Data Structures and Algorithms. I hope for you to assign me this issue as I think it is important.

I am raising this issue as I want to make PRs for this repo as a part of my Hacktoberfest. Not only that, I want to be a frequent con

[2022-09-30 22:48] OtherHorizon commented on #1574
Super sorry for getting back so late to you,i understand the srtf algorithm but i don't know how to implement it in terms of code. Any hints would be appreciated.

[2022-09-30 23:50] deepanshumidha5140 commented on #361
@Panquesito7 hey I would like to work on this!

[2022-10-01 00:01] rudrakshkarpe commented on #2005
I can work on this issue, pretty much familiar with Best Time to Buy and sell stocks series from Leetcode!

[2022-10-01 04:12] Aniket-debug commented on #1994
can i take this issue?

[2022-10-01 04:51] shivani1706 opened #2014 "[inorder tree traversal]"
### Detailed description

add a code for program of inorder tree traversal

### Context

it is important because without any traversal technique , we will not be able to traverse the tree.

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-01 05:29] manish831 commented on #2014
@shivani1706 i want to do work on it, assign it to me!!

[2022-10-01 05:31] Mrjoy832 opened #2016 "[FEATURE] Swap 2 numbers using Bit Manipulation"
### Detailed description

Hey , I want to add detailed documentation , code  of **Swapping 2 numbers** using Bit Manipulation.
The Lanugauge I will use for solving this issue will be C++.

### Context

Its an important interview question that **Swap 2 numbers without using 3rd variable**, In that mostly guys answer using some staff like  doing some sort of addition , substraction but there if you

[2022-10-01 05:34] Mrjoy832 commented on #2016
@Panquesito7 Can you please assign this to me ?

[2022-10-01 05:55] mishraabhinn commented on #2016
Thanks for opening the issue. I have assigned it to you can raise a pr.

[2022-10-01 06:00] Mrjoy832 opened #2018 "[FEATURE] Find Only non-repeated element in a list using Bit Manipulation"
### Detailed description

Hey , I want to add detailed documentation , code of **finding only Non-repeating elements** using Bit Manipulation.
The Lanugauge I will use for solving this issue will be C++.

### Context

Its an important interview question that finding only Non-repeating elements in list, In that mostly guys answer using some O(n^2) loops , but there if you answer with using Bit-mani

[2022-10-01 06:01] Mrjoy832 commented on #2018
@mishraabhinn @Panquesito7  hello Sir,please assign this to me

[2022-10-01 06:12] AjayMaheshwari23 commented on #2005
I have also done all questions of this series , assign me so that i can add solutions for them .

[2022-10-01 06:20] mishraabhinn commented on #2018
Done @Mrjoy832

[2022-10-01 06:25] mishraabhinn commented on #2014
Guys please for the sake of hacktoberfest do not raise pr with irrelevant code.

[2022-10-01 07:13] RiteshMohan186 commented on #2014
I would like to work on this issue please, also could you please add hacktoberfest label, thank you!

[2022-10-01 11:25] jayesh212 opened #2024 "[FEATURE] Missing Round Robin CPU Scheduling Algorithm"
### Detailed description

Round Robin is a preemptive CPU scheduling algorithm

### Context

This algorithm is widely used in OS lectures . Addition of this will help huge number of students

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-01 11:35] kadeep47 commented on #2024
I would like to add round robin scheduling algorithm; please assign this issue to me .

[2022-10-01 12:44] akshat-jn-crypto opened #2028 "Add website folder[FEATURE]"
### Detailed description

Add website folder

### Context

Add website folder

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-01 13:15] akshat-jn-crypto commented on #2028
please assign this to me

[2022-10-01 13:15] gaurav-iitb commented on #2005
plz assign me this issue I would like to code it in c++ with proper documentation

[2022-10-01 13:20] gaurav-iitb commented on #363
is there anything still which I can contribute to this

[2022-10-01 13:21] gaurav-iitb commented on #361
I Would also like to work on this

[2022-10-01 13:35] rudrakshkarpe commented on #2005
I am already working on it and about to raise a PR could you please look for some another issue?

[2022-10-01 14:17] rudrakshkarpe commented on #2005
I have raised a PR #2032 on this issue please check and let me know if any changes required

[2022-10-01 14:22] kkartik07 commented on #2018
Can I contribute here by providing solution?

[2022-10-01 14:25] kkartik07 commented on #2016
Can I also contribute here? Is someone still working on this?

[2022-10-01 15:02] vinayak8295 commented on #2024
I would like to contribute.

[2022-10-01 15:07] mishraabhinn commented on #361
@vj-codes  assigned

[2022-10-01 16:56] AyushAgrawal25 commented on #1994
Hi,

I would like to contribute, can you please assign this to me?

[2022-10-01 17:28] Sanketh149 commented on #2014
I want to do this as a hacktoberfest contribution
Please assign this to me.

[2022-10-01 17:29] Sanketh149 commented on #1993
I want to do this as a hacktoberfest contribution
Please assign this to me.

[2022-10-01 17:29] Sanketh149 commented on #2024
I want to do this as a hacktoberfest contribution
Please assign this to me.

[2022-10-01 17:33] mishraabhinn commented on #1994
I think this is already taken.

[2022-10-01 17:46] AyushAgrawal25 commented on #1994
No Issues

[2022-10-01 18:37] Ayushi15-Vamne commented on #1993
Hey @Sanketh149,
As I mentioned above also, I am already working on it and it almost ready.
I will let you know if I need any help.

Thanks!!

[2022-10-01 19:03] mishraabhinn commented on #1576
Raise a pr. It will be reviewed by maintainers.

[2022-10-01 19:48] amritgithub17 commented on #2014
I want to do this as a hacktoberfest contribution
Please assign this to me.

[2022-10-01 19:49] harshdew02 commented on #1993
I think Matrix should be included in this folder, I have experience working on Array and Matrix so please assign me, I want to work on it.

[2022-10-01 20:06] mishraabhinn commented on #1993
Already assigned to @Ayushi15-Vamne

[2022-10-02 00:37] hd2342-dubey commented on #361
Hello, I want to work over this, please assign it to me.

[2022-10-02 04:12] narwar-veer opened #2041 "[FEATURE] Adding STL documentation"
### Detailed description

I am capable of making a STL documentation for new user, with the help of this anyone can understand STL.

### Context

STL is quite difficult ot new user , so my documentation will help new user to understand it well.

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-02 04:37] mishraabhinn commented on #2041
Sound good.
Raise a pr with relevant work, it will be reviewed by some maintainer. Thanks.

[2022-10-02 04:39] mishraabhinn commented on #361
I guess someone is already working on this. Thanks

[2022-10-02 05:23] narwar-veer commented on #2041
Sure I'll PR it soon..

[2022-10-02 06:38] KritikaShrinivasan opened #2044 "Add Euler Tour code in graph section[FEATURE]"
### Detailed description

Adding the code with proper explaination for **euler tour of a tree** under the graph folder.

### Context

This change will help new-comers to get familiarized with the concept of euler tour and the audience will be able to appreciate the importance of euler tour.

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-02 06:41] mishraabhinn commented on #2044
@kitty0804 Thanks for the raise of this issue.
Please raise a pr with the relevant code. It will be reviewed thanks.
Hope you have read the [Contributing Guildelines](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md)

[2022-10-02 06:53] harshagrawal523 opened #2048 "[FEATURE] Number of Islands using DFS algorithm"
### Detailed description

Given an m x n 2D binary grid grid which represents a map of '1's (land) and '0's (water), return the number of islands.

An island is surrounded by water and is formed by connecting adjacent lands horizontally or vertically. You may assume all four edges of the grid are all surrounded by water.

### Context

This algorithm opens a wide variety of questions and this is ba

[2022-10-02 07:09] harshagrawal523 commented on #2048
@mishraabhinn Please review my [PR](https://github.com/TheAlgorithms/C-Plus-Plus/pull/2050#issue-1393667919) here

[2022-10-02 07:21] literalEval opened #2052 "[FEATURE] Add some questions related to bit manipulation"
### Detailed description

Some more questions can be added on this topic like "Given an array of numbers that repeat twice, except a single number that occurs only once. Find the single occurring number" and some others.

### Context

There are very few questions on this topic, and adding few more would be good for practice.

### Possible implementation

_No response_

### Additional information

[2022-10-02 07:33] kgpjay commented on #367
would love to take a stab at this :)

[2022-10-02 07:45] gaurav-iitb opened #2054 "[FEATURE] Distinct Number OF Islands Using DFS Algorithm"
### Detailed description

Given a boolean 2D matrix grid of size n * m. You have to find the number of distinct islands where a group of connected 1s (horizontally or vertically) forms an island. Two islands are considered to be distinct if and only if one island is not equal to another (not rotated or reflected).

### Context

This algorithm opens a wide variety of questions and this is basic nee

[2022-10-02 07:45] mishraabhinn commented on #367
Please don't ask to be assigned. See the [contributing guidelines](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md#contributor).
If you want to help with this, submit a PR or contact the admins to work on it.

Thank you. 🙂

[2022-10-02 07:45] aryanu027 opened #2055 "enhancement"
### What would you like to share?

sorted 2D matrix search

### Additional information

_No response_

[2022-10-02 07:46] #2055 closed

[2022-10-02 07:47] aryanu027 opened #2056 "2D sorted matrix search [enhancement]"
### What would you like to share?

created an algorithm for sorted 2d matrix search in search section

### Additional information

_No response_

[2022-10-02 08:02] KritikaShrinivasan commented on #2044
@mishraabhinn Hi, I have created a PR for this issue, kindly take a look :
[https://github.com/TheAlgorithms/C-Plus-Plus/pull/2049](https://github.com/TheAlgorithms/C-Plus-Plus/pull/2049)

Thanks!

[2022-10-02 08:40] Brijesh-26 commented on #2056
I would like to work on this issue. Please assign this to me.

[2022-10-02 08:43] harshagrawal523 commented on #2054
already done in [previous ](https://github.com/TheAlgorithms/C-Plus-Plus/issues/2048#issue-1393664614) issue

[2022-10-02 09:05] KritikaShrinivasan commented on #2044
@mishraabhinn Resolved all the issues, kindly let me know if any other changes are required.
Thanks!

[2022-10-02 09:14] gaurav-iitb commented on #2054
@harshagrawal523  this is different question from that kindly read the desc properly

[2022-10-02 09:17] gaurav-iitb commented on #2054
@Panquesito7 please review my PR for this question

[2022-10-02 09:58] KritikaShrinivasan commented on #2044
@mishraabhinn Added test cases too, kindly review.
Thanks!

[2022-10-02 10:02] kgpjay commented on #2052
Hi can I take on this issue?

[2022-10-02 11:45] literalEval commented on #2052
I have already done this in #2061
Maintainers please have a look at it.

[2022-10-02 15:17] abhilipsasahoo03 opened #2063 "Add Warshall's Transitive Closure Algorithm to Graph folder"
### Detailed description

Warshall's algorithm is used to determine the transitive closure of a directed graph or all paths in a directed graph by using the adjacency matrix. For this, it generates a sequence of n matrices. Where, n is used to describe the number of vertices.

### Context

In mathematics, the transitive closure of a binary relation R on a set X is the smallest relation on X that c

[2022-10-02 15:17] abhilipsasahoo03 commented on #2063
I'd like to work on this issue!

[2022-10-02 15:21] mishraabhinn commented on #2063
Thanks for showing interest in contributing to the repository.
Please raise a pr with the relevant code it will get reviewed.
Before you start coding please read [Contribution Guidelines](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md)

[2022-10-02 15:35] mdfaizanahmed786 opened #2064 "Broken link in C-Plus-Plus/CONTRIBUTING.md [OTHER]"
### Broken link in the following section:
### Contributing
**Contributor**

1. [MIT License](https://github.com/TheAlgoritms/C-Plus-Plus/blob/master/LICENSE)

### Additional information

_No response_

[2022-10-02 15:44] Panquesito7 commented on #2064
Great catch! Would you like to work on this? 🙂

[2022-10-02 15:49] mdfaizanahmed786 commented on #2064
Thank you! Shall I fix it and create a PR?

[2022-10-02 16:02] Panquesito7 commented on #2064
Sure! Let us know if you need any help.

[2022-10-02 16:32] mdfaizanahmed786 commented on #2064
I've fixed the link and created a PR. Please review it. Thank you for your time!

[2022-10-02 16:41] #2064 closed

[2022-10-02 16:57] mehak-kalia opened #2068 "Add Activity Selector Greedy Algo"
### What would you like to share?

I want to add activity selector greedy algorithm code in cpp

### Additional information

_No response_

[2022-10-02 17:12] Panquesito7 commented on #2068
Thank you for your interest in contributing. 👍
Before submitting a PR, please ensure the following:

* The algorithm isn't a duplicate in this repository.
* Make your code as per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
* Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

I'll look forward

[2022-10-03 06:29] vipul-2003 opened #2073 "Keyword Cipher | C++ | Old cryptography techniques"
hi there ,
I am Vipul Kumar Singh , Wanted to add code for `Keyword Cipher`  (old cryptography techniques ) under the [Cipher Folder](https://github.com/TheAlgorithms/C-Plus-Plus/tree/master/ciphers) .

**Please Assign this to me** @alkino @vbrazo @ericcurtin @AkarshSatija @gleisonbs

[2022-10-03 07:38] abhayanand08 commented on #2056
@aryanu027 @alkino @vbrazo @ericcurtin I want to contribute to this issue . Kindly assign this to me.

[2022-10-03 09:29] ericcurtin commented on #2056
I've only contributed to this repo once I think. Feel free to enhance things!

[2022-10-03 09:29] ericcurtin commented on #2073
I've only contributed to this repo once I think. Feel free to enhance things!

[2022-10-03 17:55] deoliaman00 opened #2083 "count_of_set_bits || C++. Can be solved using a single library to find the number of set bits in a number."
### Detailed description

The current solution of the Problem counting no of set bits in a number is done with the traditional way that consumes more time complexity then the inbuilt library in C++ for counting the no of bits. So can I add that code too in the present code and improve it.

### Context

The function  has O(k) time complexity which is way less then O(logn) since the k is no of set b

[2022-10-03 17:56] deoliaman00 commented on #2083
I want to work on this issue immediately Kindly assign me this issue so that I can work on it asap. Thanks.

[2022-10-03 19:02] mishraabhinn commented on #2083
@deoliaman00 assigned.
Please read the contribution guidelines before even starting to code.
You can anytime raise pr and it will be reviewed.
You can ping me or join the discord to get answers to any of your doubts. Thanks and happy coding.

[2022-10-03 19:47] Panquesito7 opened #2086 "[BUG] Karatsuba's algorithm is not compiling"
### Description

If you try compiling [Karatsuba's algorithm](https://github.com/TheAlgorithms/C-Plus-Plus/tree/master/divide_and_conquer), it will crash with the Segmentation Fault error message.
I've tried various methods and things, but nothing has worked.

It seems the size is overflowing. This seems to be the problem: either the integer types are too small, or something else is wrong.

https:

[2022-10-04 03:40] narwar-veer opened #2088 "[FEATURE] Machine_learning Model"
### Detailed description

I have made two Ml models ..
one on linear regression and
other on logistic regression and i want to contribute both of them ,
pls assign me the same ...

### Context

It is coded with proper comments and heading new user can understand it well

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-04 04:00] Panquesito7 commented on #2088
Thank you for your interest in contributing! 🎉
Before submitting a PR, please ensure the following:

- The algorithm/implementation isn't a duplicate in this repository.
- Make your code per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
- Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2022-10-04 04:02] Panquesito7 commented on #2064
Should be accepted automatically. This repository is participating in Hacktoberfest and the PR has been merged/approved. 🙂

[2022-10-04 04:32] narwar-veer commented on #2088
ya sure!

[2022-10-04 07:34] deepalithakur17 commented on #2056
I can do it, may you please assign this to me

[2022-10-04 08:28] mdfaizanahmed786 commented on #2064
Got it!

[2022-10-04 08:33] naksh2004 opened #2091 "[FEATURE] Adding detailed solution of Detect a negative cycle in a Graph problem"
### Detailed description

We are given a directed graph. We need to compute whether the graph has a negative cycle or not. A negative cycle is one in which the overall sum of the cycle becomes negative.
Negative weights are found in various applications of graphs. For example, instead of paying cost for a path, we may get some advantage if we follow the path.

### Context

The idea is to use Bellm

[2022-10-04 12:51] vipul-2003 commented on #2073
i am going to make pull request on this ...

[2022-10-04 16:23] Sounakray2003 commented on #2063
I would like to work on this issue

[2022-10-04 17:10] Sounakray2003 commented on #367
I would like to contribute

[2022-10-05 04:23] Sounakray2003 commented on #2056
I would like to contribute

[2022-10-05 05:10] kunjgit commented on #2086
can i work on this one??

[2022-10-05 06:00] eshaanagarwal commented on #1997
@Panquesito7 adding games would be interesting. Let me start with tic-tac-toe if its ok ?

[2022-10-05 06:09] Kavita613 opened #2119 "Dijkstra's Algorithm"
### What would you like to share?

Dijkstra Algorithm helps to find the shortest path in a graph.

I will provide the proper explanation and code for this algorithm.

### Additional information

_No response_

[2022-10-05 06:09] Kavita613 commented on #2119
Kindly assign this issue to me.

[2022-10-05 09:44] Izhar03 opened #2125 "[FEATURE] Adding to check if a number is perfect number"
### Detailed description

Adding a new feature in the MATH folder, to check if a number is perfect or not

The logic behind checking if a number is perfect or not is
"If the sum of its factor is equal to the number itself, then the number is said to be perfect"

For example 6: The factors of 6 are 1,2,3 and since the sum of the factors 1+2+3==6 hence 6 is a perfect number

I have written the code

[2022-10-05 11:56] PuneetTri commented on #2016
@Panquesito7 @mishraabhinn I have submitted a PR on this problem. I don't think @Mrjoy832 has successfully written his code yet. Can you please assign this issue to me, or just merge my PR? (I don't know how it goes, I'm still new to this). #2132 <- This is my PR for this issue.

[2022-10-05 13:23] #2125 closed

[2022-10-05 17:18] #2086 closed

[2022-10-05 17:24] Rytnix commented on #1994
Addressed this feature through #2136.

[2022-10-05 21:35] ron0studios commented on #2119
this has already been submitted I think, but I am not sure

[2022-10-05 22:01] DxLRate commented on #2119
do we have to describe Dijkstra's Algorithm?

[2022-10-05 23:15] Panquesito7 commented on #2119
If I remember correctly, it has been added before in the repository.
However, there can be [multiple implementations](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md#new-file-name-guidelines) of the same algorithm. 🙂

[2022-10-06 07:00] yashvardhansingh15 commented on #2014
please assign this,  it could be my first contribution.

[2022-10-06 11:24] deoliaman00 commented on #2083
Please See my pull request as I have already done the work.

[2022-10-06 11:58] Mrjoy832 commented on #2018
Hey @kkartik07 I will be adding on this..please don't steal this issue from me buddy😢

[2022-10-06 12:01] #2016 closed

[2022-10-06 19:05] ron0studios opened #2160 "[FEATURE] Indexed priority queue"
### Detailed description

I'd like to write an implementation for an indexed priority queue data structure for the project.
It will be relatively simple, and mainly for educational purposes.
I will write a class for an indexed priority queue that will be can hold any value type and a comparable type for the priority value.
It will have the same time complexities of a regular priority queue, with t

[2022-10-06 19:32] Panquesito7 commented on #2160
Thank you for your interest in contributing! 🎉
Before submitting a PR, please ensure the following:

- The algorithm/implementation isn't a duplicate in this repository.
- Make your code per the repository [standards](https://github.com/TheAlgorithms/C-Plus-Plus/blob/master/CONTRIBUTING.md).
- Ensure that all the [automated-tests](https://github.com/TheAlgorithms/C-Plus-Plus/actions) pass.

[2022-10-06 21:50] ron0studios commented on #2160
Just made one, thanks!

[2022-10-06 23:42] Panquesito7 commented on #2028
Hello! What would be the benefits of adding this and what would it do?

[2022-10-07 12:08] Yashrajput7232 opened #2171 "factorial calculator for large numbers. whose value could not be stored in any form of integer"
### Detailed description

for example if we want to  calculate the factorial of 5 we can simply calculate it as 120 and 120 can be stored in integer data type in cpp but  for 100 the  output cannot be stored even in long long  int.

Input: 100
Output: 933262154439441526816992388562667004-
         907159682643816214685929638952175999-
         932299156089414639761565182862536979-
         2082722

[2022-10-07 12:08] Yashrajput7232 commented on #2171
please assign this to me

[2022-10-07 14:07] vinay-126 commented on #1576
This seems an interesting repository, i would love to work on this one, can you assign this to me..?

[2022-10-08 04:45] divyachopra14 opened #2179 "[FEATURE] Want to add Machine Learning Algorithms with detailed explanation"
### Detailed description

Want to contribute the code written from scratch and explained line by line of the following machine learning algorithms:
1. Linear Regression
2. Logistic Regression
3. KNN
4. K means

### Context

Why is this change important to you?
 - I could see that no one has contributed towards the core implementation of basic machine learning algorithms which are widely used in th

[2022-10-08 04:50] bagariaraj23 commented on #2052
hi, can i contribute with some questions on bit-manipulation ?

[2022-10-08 05:13] naman5825 commented on #2119
hey I would like to contribute please assign me this issue.

[2022-10-08 13:08] Yashrajput7232 commented on #1576
I aslo do a lot of competative programing on platforms like  code chef , also I have give hashcode and code jam the coding contest of Google. And also know various tips and tricks. So I also want to work on this can you assign this to me?

[2022-10-08 18:36] UltimateDip opened #2192 "[OTHER] Trie implementation beginner"
### What would you like to share?

Currently in the repository existing Trie implementations are **not so beginner friendly**, So I want to contribute a beginner-friendly code **to implement** and also an example and **how to use this**.

### Additional information

_No response_

[2022-10-09 05:52] adarshtiwari40 commented on #2119
I will implement an optimized version of this code along with comments and other necessary details and explanation.

[2022-10-09 05:54] adarshtiwari40 commented on #2024
I can implement an optimized and readable code of Round Robin Algorithm

[2022-10-09 06:48] srusti610 commented on #2119
Hello sir/madam,
I would like to contribute kindly assing me this issue.

[2022-10-09 06:55] srusti610 commented on #2063
Hello sir,
I would like to contribute kindly assign me the issue.

[2022-10-09 07:11] Ivan2001otp commented on #2014
I would like to contribute on this issue . Please assign this to me .

[2022-10-09 10:02] KunalKartik02 opened #2198 "Josephus Problem general case"
### Detailed description

I am proposing C++ implementation of the famous Josephus problem. The statement is as follows - Consider a game where there are n children (numbered 1,2,…,n) in a circle. During the game, every second child is removed from the circle, until there are no children left. In which order will the children be removed?

### Context

This is a very famous and standard problem in

[2022-10-09 10:02] KunalKartik02 commented on #2198
kindly review my [https://github.com/TheAlgorithms/C-Plus-Plus/pull/2197](PR)

[2022-10-09 10:03] KunalKartik02 commented on #2198
PR*

[2022-10-09 10:51] ashutosh-kumar-kushwaha commented on #2056
I want to work on this issue. Please assign this to me.

[2022-10-09 13:34] Gauri-AB commented on #2018
Hii sir, pls assign this to me.

[2022-10-09 13:51] parth9643 commented on #2171
please assign this to me

[2022-10-09 14:44] Tushar2930 commented on #2014
Please Assign this to me. I want to contribute to this project

[2022-10-09 15:46] sarthakk1890 commented on #2192
Sir, I'ld like to handle this issue please assign it to me.

[2022-10-09 18:35] thewpingmonk commented on #2083
please assign this issue to me

[2022-10-09 18:36] thewpingmonk commented on #2054
please assign this issue to me

[2022-10-09 18:37] thewpingmonk commented on #2048
please assign this issue to me

[2022-10-09 19:13] mishraabhinn commented on #2048
Already taken by @harshagrawal523

[2022-10-09 20:10] srajansohani opened #2207 "[FEATURE] A exponent calculator for large values through binary exponentiation"
### Detailed description

My contribution will make it easier and faster to calculate large exponents.

### Context

The pow function in STL has a return type of double and gives wrong values at large scale thus we an use binary exponentiation to avoid this miscalculation.

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-09 20:15] srajansohani commented on #2207
Please Assign this to me

[2022-10-10 08:27] Apocalyptic04 opened #2209 "[FEATURE] Add Kadane's Algorithm"
### Detailed description

Want to add Kadane's Algorithm to get largest sum of contiguous subarray.

### Context

Asked in many interviews. It is the most optimized solution to get largest sum of contiguous subarray.

Time Complexity: O(N)
Space Complexity: O(1)

### Possible implementation

_No response_

### Additional information

_No response_

[2022-10-10 08:28] Apocalyptic04 commented on #2209
Will be happy if you assign me this issue and add hacktoberfest tag to it

[2022-10-10 10:52] Anshul140 commented on #2209
I would also like to contribute solution to this problem in python.

[2022-10-10 11:19] prabhatsingh985 commented on #2083
I would  love to work in this  project ;
 Please assign this to me

[2022-10-10 11:22] prabhatsingh985 commented on #2054
Please assign this task ,
I would really love to work at this

[2022-10-10 12:10] Jatin-parashar commented on #2209
hey, assign this issue to me please

[2022-10-10 15:47] Agniva144 commented on #2014
Sir , can you assign this to me?

[2022-10-10 21:03] PrakarshSingh5 commented on #361
hi can you assign this to me

[2022-10-10 21:05] PrakarshSingh5 commented on #2119
hi sir/madam
can you please  assign me

[2022-10-10 21:06] PrakarshSingh5 commented on #2054
hi sir/madam
can you please assign me i want to contribute

[2022-10-11 04:40] shrutikahilale commented on #2209
Please assign me, I have a good knowledge of DSA and I will make sure that I explain in the best possible way!

[2022-10-11 04:44] pranavhole commented on #2209
I would also like to contribute a solution to this problem. Please assign me this work

[2022-10-11 10:52] MayankPanda commented on #2014
Can you assign this issue to me?

[2022-10-11 14:13] Hiresh23 commented on #2209
i would like to contribute a solution to the problem i have a good knowlegde of DSA i feel i could help a lot

[2022-10-11 18:09] Raghav0407 commented on #2209
I would like to contribute to this algorithm if you allow me please. This is my first time. Please assign me

[2022-10-11 19:00] sajal-19 commented on #2209
Kindly assign this to me . I have an efficient solution for this.

[2022-10-13 02:35] drashan14 commented on #2209
Hello Sir ,
I would like to contribute on this issue could you assign me this issue.

[2022-10-13 02:36] drashan14 commented on #2209
Hello Sir ,
I would like to contribute on this issue could you assign me this issue.

[2022-10-13 02:37] drashan14 commented on #2119
I would like to solve this problem could you assign me this issue.

[2022-10-13 02:39] drashan14 commented on #2056
Hello Sir/Mam,
I would like to contribute my knowledge in this issue , could you  assign me this issue.

[2022-10-13 03:25] tripti1308 commented on #2209
Hello !!
kindly assing this to me .

[2022-10-13 10:29] Amisha2093 commented on #2054
Please, assign this problem to me.

[2022-10-13 11:10] Amisha2093 commented on #2068
Hey, is this issue, availed for contribution.
I would like to contribute to this problem.

[2022-10-13 11:38] tiiitu commented on #2091
Hi I would like to work on this, please assign me.

[2022-10-13 12:27] drashan14 commented on #2171
Hello Sir ,
I would like to do this task could you assign me this task.

[2022-10-13 12:28] drashan14 commented on #2063
Hello Sir,
I would like to do this task could you assign me this task.

[2022-10-13 14:39] SHWETA2JHA commented on #2209
I would like to contribute to the algorithm. Please assign this task to me.

[2022-10-13 14:47] SHWETA2JHA commented on #2052
Please assign this task to me.

[2022-10-13 15:09] SHWETA2JHA commented on #2014
Please assign this task to me.

[2022-10-13 15:20] Amisha2093 opened #2246 "[FEATURE] Construct Binary Search Tree from Preorder Traversal"
### Detailed description

### Construct Binary Search Tree from Preorder Traversal.

**Problem Statement:**
Given an array of integers preorder, which represents the preorder traversal of a BST (i.e., binary search tree), construct the tree and return its root.

**Test Case:**
Input: preorder = [8,5,1,7,10,12]
Output: [8,5,10,1,7,null,12]

### Context

This is a very famous and standard problem as

[2022-10-13 16:09] abhisek247767 commented on #2246
I would also like to contribute a solution to this problem.

[2022-10-13 17:33] BugsBunny-PG commented on #2246
Hello Maintainer,
I want to solve this problem ,please assign this issue to me.

[2022-10-13 17:34] BugsBunny-PG commented on #2209
Hello Maintainer,
I want to solve this problem ,please assign this issue to me.

[2022-10-13 17:44] BugsBunny-PG commented on #2052
Hello Maintainer,
I want to solve this problem ,please assign this issue to me.

[2022-10-13 17:45] BugsBunny-PG commented on #2024
Hello Maintainer,
I want to solve this problem ,please assign this issue to me.

[2022-10-13 19:12] Sakshi2002-Sinha commented on #2246
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 19:13] Sakshi2002-Sinha commented on #2207
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 19:13] Sakshi2002-Sinha commented on #2198
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 19:13] Sakshi2002-Sinha commented on #2192
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 19:14] Sakshi2002-Sinha commented on #2171
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 19:14] Sakshi2002-Sinha commented on #2160
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 19:15] Sakshi2002-Sinha commented on #2091
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 19:16] Sakshi2002-Sinha commented on #2024
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 19:18] Sakshi2002-Sinha commented on #2052
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 19:19] Sakshi2002-Sinha commented on #2068
Hello, Can you please assign this issue to me?
Thanks in advance :)

[2022-10-13 19:36] mishraabhinn commented on #2018
Aleready someone is working on this. Thanks for showing intrest in collaboration. Connect with us on discord and gitter.
[Abhinn Mishra](https://twitter.com/mishra_abhinn)